{% extends "adm_base.html" %}
{% block titlecontainer %}
  <div class="w3-quart"></div>
  <div class="w3-half">
{% endblock %}
{% block titleheader %}
  {{ lopsinfo }}
{% endblock %}
{% block refresh %}{% endblock %}
{% block titlemain %}{{ lopsinfo }}{% endblock %}
{% block menuitems %}
  <li id=topborder>
    <a href=/contestants?event_id={{ event_id }} class=dropbtn>Velg klasse</a>
  </li>
  <li id=topborder>
    <a href=/contestants?event_id={{ event_id }}&action=edit_mode class=dropbtn>Rediger</a>
  </li>
{% endblock %}

{% block content %}
    {% if action == "new_from_file" %}
    <form action=/contestants method=post enctype="multipart/form-data" >
      <table cellpadding=4>
        <tr id=spacer></tr>
        <tr>
          <td colspan=2 id=headerblue>
            <b>Importer deltakerliste fra fil</b>
          </td>
        </tr>
        <tr>
          <td>
            <input type="file" name="file" onchange="savefile(this)">
          </td>
          <td>
            <input type="hidden" name=event_id value="{{ event_id }}">
            <input type="submit" name=create value="  Last opp  ">
          </td>
        </tr>
        <tr>
          <td colspan=2>
            <br>Informasjon
          </td>
        </tr>
        <tr>
          <td colspan=2>
            To typer filer aksepteres:<br>
            1. XML: SSF XML - eksportert fra Sportsadmin. <br>
            2. CSV: NSF XLS - kommaseparert fil med alle deltakere. <br>
            Start med å eksportere deltakerliste fra Sportsadmin. Brukerveiledning for eksportering finnes i <a href="https://itinfo.nif.no/SportsAdmin_Arrangement#Eksportere_til_Excel_og_XML" target=_blank>Sportsadmin</a>.
          </td>
        </tr>
        <tr id=spacer></tr>
      </table>
    </form>
    {% elif  action == "edit_mode" %}
      <div id=spacer></div>
        <table>
          <tr id=headerblue align=right>
            <td>
              <form action=/contestants method=get>
                <input type="hidden" name=event_id value="{{ event_id }}">
                <input type="hidden" name=action value="new_from_file">
                <input type="submit" name=new_from_file value="  Last inn deltakere fra fil  ">
              </form>
            </td>
            <td>
              <form action=/contestants method=get>
                <input type="hidden" name=event_id value="{{ event_id }}">
                <input type="hidden" name=action value="new_manual">
                <input type="submit" name=new_manual value="  Legg til deltaker mauelt  ">
              </form>
            </td>
            <td>
              <form action=/contestants method=post>
                <input type="hidden" name=event_id value="{{ event_id }}">
                <input type="submit" name=assign_bibs value="  Tildel startnummer  ">
              </form>
            </td>
            <td>
              <form action=/contestants method=post>
                <input type="hidden" name="event_id" value="{{ event_id }}">
                <input type="submit" name=delete_all value="  Slett alle deltakere  ">
              </form>
            </td>
          </tr>
        </table>
        <div id=spacer></div>
        <table>
          <tr id=headerblue>
            <td>Startnr</td>
            <td>Navn</td>
            <td>Klubb</td>
            <td>Født</td>
            <td></td>
            <td>Klasse</td>
            <td>Team</td>
            <td>Region</td>
            <td>Idrettsnr</td>
            <td colspan="2"></td>
          </tr>
          {% for contestant in contestants %}
            <tr>
              <td>{{ contestant.bib }}</td>
              <td>{{ contestant.first_name }} {{ contestant.last_name }}</td>
              <td>{{ contestant.club }}</td>
              <td>{{ contestant.birth_date }}</td>
              <td>{{ contestant.gender }}</td>
              <td>{{ contestant.ageclass }}</td>
              <td>{{ contestant.team }}</td>
              <td>{{ contestant.region }}</td>
              <td>{{ contestant.minidrett_id }}</td>
              <td>
                <form action=/contestants method=get>
                  <input type="submit" name=update_one value="  Rediger  ">
                  <input type="hidden" name=action value="update_one">
                  <input type="hidden" name="id" value="{{ contestant.id }}">
                  <input type="hidden" name="event_id" value="{{ event_id }}">
                </form>
              </td>
              <td>
                <form action=/contestants method=post>
                  <input type="submit" name=delete_one value="  Slett  ">
                  <input type="hidden" name="id" value="{{ contestant.id }}">
                  <input type="hidden" name="event_id" value="{{ event_id }}">
                </form>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% elif action == "new_manual" %}
        <div id=spacer></div>
        <form action=/contestants method=post>
          <table cellpadding=4>
            <tr id=spacer></tr>
            <tr>
              <td colspan=3 id=headerblue>
                <b>Opprett ny deltaker</b>
              </td>
            </tr>
            <tr>
              <td width=150>Fornavn</td>
              <td><input type=text name="first_name" value=""></td>
              <td></td>
            </tr>
            <tr>
              <td>Etternavn</td>
              <td><input type=text name="last_name" value=""></td>
              <td></td>
            </tr>
            <tr>
              <td>Fødseldato</td>
              <td><input type=text name="birth_date" value=""></td>
              <td></td>
            </tr>
            <tr>
              <td>Kjønn</td>
              <td><input type=text name="gender" value=""></td>
              <td></td>
            </tr>
            <tr>
              <td>Aldersklasse</td>
              <td><input type=text name="ageclass" value=""></td>
              <td></td>
            </tr>
            <tr>
              <td>Region</td>
              <td><input type=text name="region" value=""></td>
              <td></td>
            </tr>
            <tr>
              <td>Klubb</td>
              <td><input type=text name="club" value=""></td>
              <td></td>
            </tr>
            <tr>
              <td>Team</td>
              <td><input type=text name="team" value=""></td>
              <td></td>
            </tr>
            <tr>
              <td>Epost</td>
              <td><input type=text name="email" value=""></td>
              <td></td>
            </tr>
            <tr>
              <td>Startnummer</td>
              <td><input type=text name="bib" value=""></td>
              <td></td>
            </tr>
            <tr>
              <td>Idrettsnummer</td>
              <td><input type=text name="minidrett_id" value=""></td>
              <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                  <input type="hidden" name="event_id" value="{{ event_id }}">
                  <input type="submit" name=create_one value="  Opprett  ">
                </td>
                <td></td>
            </tr>
            <tr id=spacer></tr>
          </table>
        </form>
        {% elif action == "update_one" %}
          <div id=spacer></div>
          <form action=/contestants method=post>
            <table cellpadding=4>
              <tr id=spacer></tr>
              <tr>
                <td colspan=3 id=headerblue>
                  <b>Oppdater deltaker</b>
                </td>
              </tr>
              <tr>
                <td width=150>Fornavn</td>
                <td><input type=text name="first_name" value="{{ contestant.first_name }}"></td>
                <td></td>
              </tr>
              <tr>
                <td>Etternavn</td>
                <td><input type=text name="last_name" value="{{ contestant.last_name }}"></td>
                <td></td>
              </tr>
              <tr>
                <td>Fødseldato</td>
                <td><input type=text name="birth_date" value="{{ contestant.birth_date }}"></td>
                <td></td>
              </tr>
              <tr>
                <td>Kjønn</td>
                <td><input type=text name="gender" value="{{ contestant.gender }}"></td>
                <td></td>
              </tr>
              <tr>
                <td>Aldersklasse</td>
                <td><input type=text name="ageclass" value="{{ contestant.ageclass }}"></td>
                <td></td>
              </tr>
              <tr>
                <td>Region</td>
                <td><input type=text name="region" value="{{ contestant.region }}"></td>
                <td></td>
              </tr>
              <tr>
                <td>Klubb</td>
                <td><input type=text name="club" value="{{ contestant.club }}"></td>
                <td></td>
              </tr>
              <tr>
                <td>Team</td>
                <td><input type=text name="team" value="{{ contestant.team }}"></td>
                <td></td>
              </tr>
              <tr>
                <td>Epost</td>
                <td><input type=text name="email" value="{{ contestant.email }}"></td>
                <td></td>
              </tr>
              <tr>
                <td>Startnummer</td>
                <td><input type=text name="bib" value="{{ contestant.bib }}"></td>
                <td></td>
              </tr>
              <tr>
                <td>Idrettsnummer</td>
                <td><input type=text name="minidrett_id" value="{{ contestant.minidrett_id }}"></td>
                <td></td>
              </tr>
              <tr>
                  <td></td>
                  <td>
                    <input type="hidden" name="event_id" value="{{ event_id }}">
                    <input type="hidden" name="id" value="{{ contestant.id }}">
                    <input type="submit" name=update_one value="  Oppdater  ">
                  </td>
                  <td></td>
              </tr>
              <tr id=spacer></tr>
            </table>
          </form>

      {% else %}
      <div id=spacer></div>
      <table>
        <tr id=headerblue>
          <td>Startnr</td>
          <td>Navn</td>
          <td>Klubb</td>
          <td>Født</td>
          <td></td>
          <td>Klasse</td>
          <td>Team</td>
          <td>Region</td>
          <td>Idrettsnr</td>
        </tr>
          {% for contestant in contestants %}
            <tr>
              <td>{{ contestant.bib }}</td>
              <td>{{ contestant.first_name }} {{ contestant.last_name }}</td>
              <td>{{ contestant.club }}</td>
              <td>{{ contestant.birth_date }}</td>
              <td>{{ contestant.gender }}</td>
              <td>{{ contestant.ageclass }}</td>
              <td>{{ contestant.team }}</td>
              <td>{{ contestant.region }}</td>
              <td>{{ contestant.minidrett_id }}</td>
            </tr>
            {% endfor %}
        <tr id=spacer></tr>
      </table>
    {% endif %}
  {% endblock %}
