{% extends "adm_base.html" %}
{% block titlecontainer %}
  <div class="w3-10"></div>
  <div class="w3-80">
{% endblock %}

{% block titleheader %}{{ lopsinfo }}{% endblock %}
{% block refresh %}{% endblock %}
{% block titlemain %}{{ lopsinfo }}{% endblock %}
{% block content %}
  <div id=spacer></div>
  <table cellpadding=4>
    <tr>
      <td valign=top>
        <table>
          <tr id=subheader id=black>
            <td id=black>1. Arrangementsinformasjon</td><td width=100>Status</td>
          </tr>
          <tr>
            <td>Attributter registrert: X av 5.</td><td id=green>OK</td>
          </tr>
        </table>
      </td>
      <td valign=top>
        <table>
          <tr id=subheader id=black>
            <td id=black>4. Start</td><td width=100>Status</td>
          </tr>
          <tr>
            <td>Neste start: X16XX - kl XX:XX.</td><td id=green>OK</td>
          </tr>
          <tr>
            <td>Antall startet: XX startet / X DNS / Y ukjent.</td><td id=orange>Bør sjekkes</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr id=tablespacer>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td valign=top>
        <table>
          <tr id=subheader id=black>
            <td id=black>2. Deltakere</td><td width=100>Status</td>
          </tr>
          <tr>
            <td>Antall deltakere: xx</td><td id=green>OK</td>
          </tr>
          <tr>
            <td>Startnummer tildelt: XX av XX</td><td id=orange>Delvis</td>
          </tr>
        </table>
      </td>
      <td valign=top>
        <table>
          <tr id=subheader>
            <td id=black>5. Mål</td><td width=100>Status</td>
          </tr>
          <tr>
            <td>Siste målpassering: G16K1 - 2 av 7 registrert i mål.</td><td id=orange>Delvis</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr id=tablespacer>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td valign=top>
        <table>
          <tr id=subheader>
            <td id=black>3. Klasser</td><td width=100>Status</td>
          </tr>
          <tr>
            <td>Aldersklasser: 4, løpsklasser: 4.</td><td id=green>OK</td>
          </tr>
          <tr>
            <td>Startrekkefølge: 0 av 4.</td><td id=red>Mangler</td>
          </tr>
        </table>
      </td>
      <td valign=top>
        <table>
          <tr id=subheader id=black>
            <td id=black>6. Datakvalitet</td><td width=100>Status</td>
          </tr>
          <tr>
            <td>G14K1 start: 2 ukjent</td><td id=orange>Delvis</td>
          </tr>
          <tr>
            <td>G14K2 start: 7 ukjent</td><td id=red>Mangler</td>
          </tr>
          <tr>
            <td>G14K1 mål: 2 ukjent</td><td id=orange>Delvis</td>
          </tr>
        </table>
      </td>
    </tr>

  </table>
{% endblock %}
