{% extends "adm_base.html" %}
{% block titleheader %}
  {{ lopsinfo }}
{% endblock %}
{% block refresh %}{% endblock %}
{% block titlemain %}
  {{ lopsinfo }}
{% endblock %}
{% block content %}
  <div class="w3-row-padding">
    <div class="w3-half">
      <form action=/events method=post>
        <table cellpadding=4>
          <tr id=spacer></tr>
          <tr>
            <td colspan=2 id=headerblue>
              <b>Opprett nytt arrangement</b>
            </td>
          </tr>
          <tr>
            <td width=150>Navn</td>
            <td><input type=text name="Name" value=""></td>
          </tr>
          <tr>
              <td></td>
              <td>
                <input type="submit" name=Create value=Opprett>
              </td>
          </tr>
          <tr id=spacer></tr>
        </table>
      </form>
    </div>
  </div>

{% endblock %}
