{% extends "adm_base.html" %}
{% block titleheader %}
  {{ lopsinfo }}
{% endblock %}
{% block refresh %}{% endblock %}
{% block titlemain %}
  {{ lopsinfo }}
{% endblock %}
{% block content %}
  <div class="w3-row-padding">
    <div class="w3-half">
      <form action=/events method=post>
        <table cellpadding=4>
          <tr id=spacer></tr>
          <tr>
            <td colspan=2 id=headerblue>
              <b>Rediger arrangementsinformasjon</b>
              <input type="hidden" name="id" value="{{ event.id }}">
            </td>
          </tr>
          <tr>
            <td width=150>Navn</td>
            <td><input type=text name=name value="{{ event.name }}"></td>
          </tr>
          <tr>
            <td>Dato</td>
            <td><input type=text name=date value="{{ event.date }}"></td>
          </tr>
          <tr>
            <td>Arrangør</td>
            <td><input type=text name=organiser value="{{ event.organiser }}"></td>
          </tr>
          <tr>
              <td></td>
              <td>
                <input type="submit" name=update value=Oppdater>
              </td>
          </tr>
          <tr id=spacer></tr>
        </table>
      </form>
    </div>
    <div class="w3-half">
      <form action=/events method=post>
        <table cellpadding=4>
          <tr id=spacer></tr>
          <tr>
            <td colspan=2 id=headerblue>
              <b>Opprett nytt arrangement</b>
            </td>
          </tr>
          <tr>
            <td width=150>Navn</td>
            <td><input type=text name="name" value=""></td>
          </tr>
          <tr>
            <td>Dato</td>
            <td><input type=text name=date value=""></td>
          </tr>
          <tr>
            <td>Arrangør</td>
            <td><input type=text name=organiser value=""></td>
          </tr>
          <tr>
              <td></td>
              <td>
                <input type="submit" name=create value=Opprett>
              </td>
          </tr>
          <tr id=spacer></tr>
        </table>
      </form>
    </div>
  </div>
{{ event }}
{% endblock %}
