{% extends "adm_base.html" %}
{% block titleheader %}
  {{ lopsinfo }}
{% endblock %}
{% block refresh %}{% endblock %}
{% block titlemain %}
  {{ lopsinfo }}
{% endblock %}
{% block content %}
  <div class="w3-row-padding">
    <div class="w3-half">
      <form>
        <table cellpadding=4>
          <tr id=spacer></tr>
          <tr>
            <td colspan=5 id=headerblue>
              <b>Velg arrangement</b>
            </td>
          </tr>
          <tr>
            <td>Navn</td>
            <td>Dato</td>
            <td>Klubb</td>
            <td></td>
          </tr>
          <tr>
            <td><a href="">Skagen sprint</a></td>
            <td>12.01.2021</td>
            <td>Lyn Ski</td>
            <td>354 påmeldinger</td>
          </tr>
          <tr id=spacer></tr>
        </table>
      </form>
    </div>
    <div class="w3-half">
      <form>
        <table cellpadding=4>
          <tr id=spacer></tr>
          <tr>
            <td colspan=5 id=headerblue>
              <b>Opprett nytt arrangement</b>
            </td>
          </tr>
          <tr>
            <td width=150>Navn</td>
            <td><input type=text name="Verdi1" value="Verdi1"></td>
            <td>Navn på arrangement</td>
          </tr>
          <tr>
              <td></td>
              <td colspan=4>
                <input type="submit" name=Update value=Opprett>
              </td>
          </tr>
          <tr id=spacer></tr>
        </table>
      </form>
    </div>
  </div>

{% endblock %}
