{% extends "adm_base.html" %}
{% block titleheader %}
  {{ lopsinfo }}
{% endblock %}
{% block refresh %}{% endblock %}
{% block titlemain %}
  {{ lopsinfo }}
{% endblock %}
{% block content %}
  <div class="w3-row-padding">
    <div class="w3-half">
      <form action="/login" methon="post">
        <table cellpadding=4>
          <tr id=spacer></tr>
          <tr>
            <td colspan=2 id=headerblue>
              <b>Logg inn</b>
            </td>
          </tr>
          <tr>
            <td width=150>Brukernavn</td>
            <td><input type=text name="Username" value=""></td>
          </tr>
          <tr>
            <td width=150>Passord</td>
            <td><input type=password name="Password" value=""></td>
          </tr>
          <td colspan=2>
            <input type="submit" name=Login value="Logg inn">
          </td>
          <tr id=spacer></tr>
        </table>
      </form>
    </div>
  </div>

{% endblock %}
