{% extends "adm_base.html" %}
{% block titlecontainer %}
  <div class="w3-quart"></div>
  <div class="w3-half">
{% endblock %}

{% block titleheader %}{{ lopsinfo }}{% endblock %}
{% block refresh %}{% endblock %}
{% block titlemain %}{{ lopsinfo }}{% endblock %}
{% block menuitems %}
  <li id=topborder>
    <a href=/events?eventid={{ eventid }} class=dropbtn>Info</a>
  </li>
  <li id=topborder>
    <a href=/contestants?eventid={{ eventid }} class=dropbtn>Deltakere</a>
  </li>
  <li id=topborder class=active>
    <a href=/raceclasses?eventid={{ eventid }} class=dropbtn>Løpsklasser</a>
  </li>
  <li id=topborder>
    <a href=/schedules?eventid={{ eventid }} class=dropbtn>Kjøreplan</a>
  </li>
{% endblock %}
{% block content %}
  <div id=spacer></div>
  {% if edit_mode %}
    <form action=/raceclasses method=post>
      <div align=right>
        <input type="hidden" name="eventid" value="{{ eventid }}">
        <input type="submit" name=update value="  Oppdater  ">
      </div>
      <div id=spacer></div>
      <table>
         <tr id=headerblue>
          <td>Årsklasse</td>
          <td>Løype</td>
          <td>Løpsklasse</td>
          <td>Rekkefølge</td>
          <td>Deltakere</td>
        </tr>
        {% for klasse in ageclasses %}
            <input type="hidden" name="ageclass_{{ klasse.Klasse }}" value="{{ klasse.Klasse }}">
            <tr>
              <td>{{ klasse.Klasse }}</td>
              <td>{{ klasse.Løype }}</td>
              <td><input type=text name="raceclass_{{ klasse.Klasse }}" value="{{ klasse.Løpsklasse }}"></td>
              <td><input type=text name="order_{{ klasse.Klasse }}" value="{{ klasse.Rekkefølge }}"></td>
              <td>{{ klasse.Antall }}</td>
            </tr>
        {% endfor %}
      </table>
      <div id=spacer></div>
      <div align=right>
        <input type="submit" name=update value="  Oppdater  ">
      </div>
    </form>
  {% else %}
    <div align=right>
            <form action=/raceclasses method=post>
              <input type="hidden" name="eventid" value="{{ eventid }}">
              <input type="submit" name=edit value="  Rediger  ">
            </form>
    </div>
    <div id=spacer></div>
    <table>
       <tr id=headerblue>
        <td>Årsklasse</td>
        <td>Løype</td>
        <td>Løpsklasse</td>
        <td>Rekkefølge</td>
        <td>Deltakere</td>
      </tr>
      {% for klasse in ageclasses %}
          <tr>
            <td>{{ klasse.Klasse }}</td>
            <td>{{ klasse.Løype }}</td>
            <td>{{ klasse.Løpsklasse }}</td>
            <td>{{ klasse.Rekkefølge }}</td>
            <td>{{ klasse.Antall }}</td>
          </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}
