{% extends "adm_base.html" %}
{% block titlecontainer %}
  <div class="w3-10"></div>
  <div class="w3-80">
{% endblock %}

{% block titleheader %}
  {{ lopsinfo }}
{% endblock %}
{% block refresh %}{% endblock %}
{% block titlemain %}
  {{ lopsinfo }}
{% endblock %}
{% block menuitems %}
  <li class=dropdown id=topborder>
    <a href=javascript:void(0) class=dropbtn>Velg klasse</a>
    <div class=dropdown-content>
      <a href=raceplans?event_id={{ event_id }}>Alle</a>
      {% for klasse in raceclasses %}
        <a href=raceplans?klasse={{ klasse.name }}&event_id={{ event_id }}>{{ klasse.ageclass_name }}</a>
      {% endfor %}
    </div>
  </li>
  <li id=topborder>
    <a href=/raceplans?event_id={{ event_id }}&action=edit_mode class=dropbtn>Rediger</a>
  </li>
{% endblock %}
{% block content %}
<div id=spacer></div>
<br>Antall heat: <b>{{ races|length }}</b>. Totalt antall deltakere: <b>{{ raceplan.no_of_contestants }}</b>
<div id=spacer></div>
{% if  action == "edit_mode" %}
    <table>
      <tr id=headerblue align=right>
        <td>
          <form action=/raceplans method=get>
            <input type="hidden" name="event_id" value="{{ event_id }}">
            <input type="hidden" name=action value="edit_time">
            <input type="submit" name="edit_time" value="  Tilpass tidskjema  ">
          </form>
        </td>
        <td>
          <form action=/raceplans method=post>
            <input type="hidden" name="event_id" value="{{ event_id }}">
            <input type="submit" name="generate_raceplan" value="  Generer kjøreplan  ">
          </form>
        </td>
        <td>
          <form action=/raceplans method=post>
            <input type="hidden" name="event_id" value="{{ event_id }}">
            <input type="hidden" name="id" value="{{ raceplan.id }}">
            <input type="submit" name="delete_all" value="  Slett alle kjøreplaner  ">
          </form>
        </td>
    </table>
    <div id=spacer></div>
    <table>
       <tr id=headerblue>
        <td>Løpsklasse</td>
        <td>Runde</td>
        <td>Heat</td>
        <td>Id</td>
        <td></td>
        <td>Start</td>
        <td>Antall deltakere</td>
        <td>Startrekkefølge</td>
        <td></td>
      </tr>
      {% for race in races %}
        {% if (valgt_klasse == "") or (valgt_klasse == race.raceclass) %}
          <tr>
            <td>{{ race.raceclass }}</td>
            <td>{{ race.round }}</td>
            <td>{{ race.heat }}</td>
            <td>{{ race.index }}</td>
            <td>{{ race.order }}</td>
            <td>{{ race.start_time }}</td>
            <td>{{ race.no_of_contestants }}</td>
            <td>{{ race.order }}</td>
            <td>
              <form action=/raceplans method=post>
                <input type="submit" name=delete_one value="  Slett  ">
                <input type="hidden" name="id" value="{{ race.id }}">
                <input type="hidden" name="event_id" value="{{ event_id }}">
              </form>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  {% else %}
    {% if action == "edit_time" %}
      Tilpass tidplan - merk at kun ett tidspunkt kan endres om gangen og at alle påfølgende heat vil bli justert tilsvarende.
    {% endif %}
    <table>
       <tr id=headerblue>
        <td>Løpsklasse</td>
        <td>Q start</td>
        <td>S start</td>
        <td>F start</td>
      </tr>
      {% for raceclass in raceplan_summary %}
        {% if action == "edit_time" %}
          <tr>
              <td>{{ raceclass.name }}</td>
              <td>
                <form action="/raceplans" method=post>
                  <input type="hidden" name="event_id" value="{{ event_id }}">
                  <input type=hidden name=raceclass value="{{ raceclass.name }}">
                  <input type=hidden name=round value="timeQ">
                  <input type=hidden name=old_time value="{{ raceclass.timeQ[-8:] }}">
                  <input type=text name="new_time" value="{{ raceclass.timeQ[-8:] }}" pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}" size=8 required>
                  <input type="submit" name=update_time value="  Oppdater  ">
                </form>
              </td>
              <td>
                <form action="/raceplans" method=post>
                  <input type="hidden" name="event_id" value="{{ event_id }}">
                  <input type=hidden name=raceclass value="{{ raceclass.name }}">
                  <input type=hidden name=round value="timeS">
                  <input type=hidden name=old_time value="{{ raceclass.timeS[-8:] }}">
                  <input type=text name="new_time" value="{{ raceclass.timeS[-8:] }}" pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}" size=8 required>
                  <input type="submit" name=update_time value="  Oppdater  ">
                </form>
              </td>
              <td>
                <form action="/raceplans" method=post>
                  <input type="hidden" name="event_id" value="{{ event_id }}">
                  <input type=hidden name=raceclass value="{{ raceclass.name }}">
                  <input type=hidden name=round value="timeF">
                  <input type=hidden name=old_time value="{{ raceclass.timeF[-8:] }}">
                  <input type=text name="new_time" value="{{ raceclass.timeF[-8:] }}" pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}" size=8 required>
                  <input type="submit" name=update_time value="  Oppdater  ">
                </form>
              </td>
          </tr>
        {% elif  (valgt_klasse == "") or (valgt_klasse == raceclass.name) %}
          <tr>
            <td>{{ raceclass.name }}</td>
            <td>{{ raceclass.timeQ[-8:] }}</td>
            <td>{{ raceclass.timeS[-8:] }}</td>
            <td>{{ raceclass.timeF[-8:] }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    <table>
       <tr id=headerblue>
        <td></td>
        <td>Løpsklasse</td>
        <td>Runde</td>
        <td>Heat</td>
        <td>Id</td>
        <td>Start</td>
        <td>Deltakere</td>
      </tr>
      {% for race in races %}
        {% if (valgt_klasse == "") or (valgt_klasse == race.raceclass) %}
          <tr>
            <td>{{ race.order }}</td>
            <td>{{ race.raceclass }}</td>
            <td>{{ race.round }}</td>
            <td>{{ race.heat }}</td>
            <td>{{ race.index }}</td>
            <td>{{ race.start_time[-8:] }}</td>
            <td>{{ race.no_of_contestants }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}
