{% extends "adm_base.html" %}
{% block titlecontainer %}
  <div class="w3-quart"></div>
  <div class="w3-half">
{% endblock %}

{% block titleheader %}{{ lopsinfo }}{% endblock %}
{% block refresh %}{% endblock %}
{% block titlemain %}{{ lopsinfo }}{% endblock %}
{% block menuitems %}
  <li id=topborder>
    <a href=/events?eventid={{ eventid }} class=dropbtn>Info</a>
  </li>
  <li id=topborder>
    <a href=/contestants?eventid={{ eventid }} class=dropbtn>Deltakere</a>
  </li>
  <li id=topborder class=active>
    <a href=/raceclasses?eventid={{ eventid }} class=dropbtn>Klasser</a>
  </li>
  <li id=topborder>
    <a href=/schedules?eventid={{ eventid }} class=dropbtn>Kjøreplan</a>
  </li>
{% endblock %}
{% block content %}
  <div id=spacer></div>
  {% if edit_mode %}
    <div align=right>
      <table>
         <tr><td align=right>
          <form action=/raceclasses method=post>
            <input type="hidden" name="eventid" value="{{ eventid }}">
            <input type="submit" name=participants value="  Refresh deltakerantall  ">
          </form>
        </td><td align=right>
          <form action=/raceclasses method=post>
              <input type="hidden" name="eventid" value="{{ eventid }}">
              <input type="submit" name=update value="  Oppdater  ">
        </td></tr>
      </table>
    </div>
    <div id=spacer></div>
      <table>
         <tr id=headerblue>
          <td>Årsklasse</td>
          <td>Løype</td>
          <td>Klasse</td>
          <td>Startrekkefølge</td>
          <td></td>
          <td>Antall påmeldte</td>
        </tr>
        {% for klasse in ageclasses %}
            <input type="hidden" name="ageclass_{{ klasse.raceclass }}" value="{{ klasse.raceclass }}">
            <tr>
              <td>{{ klasse.name }}</td>
              <td><input type=text name="distance_{{ klasse.distance }}" value="{{ klasse.distance }}"></td>
              <td><input type=text name="raceclass_{{ klasse.raceclass }}" value="{{ klasse.raceclass }}"></td>
              <td><input type=text name="order_{{ klasse.raceclass }}" value="{{ klasse.order }}"></td>
              <td><input type=hidden name="id_{{ klasse.raceclass }}" value="{{ klasse.id }}"></td>
              <td>{{ klasse.participants }}</td>
            </tr>
        {% endfor %}
      </table>
      <div id=spacer></div>
      <div align=right>
        <input type="submit" name=update value="  Oppdater  ">
      </div>
    </form>
  {% else %}
    <div align=right>
            <form action=/raceclasses method=get>
              <input type="hidden" name="eventid" value="{{ eventid }}">
              <input type="submit" name=edit_mode value="  Rediger  ">
            </form>
    </div>
    <div id=spacer></div>
    <table>
       <tr id=headerblue>
        <td>Årsklasse</td>
        <td>Løype</td>
        <td>Løpsklasse</td>
        <td>Startrekkefølge</td>
        <td>Deltakere</td>
      </tr>
      {% for klasse in ageclasses %}
          <tr>
            <td>{{ klasse.name }}</td>
            <td>{{ klasse.distance }}</td>
            <td>{{ klasse.raceclass }}</td>
            <td>{{ klasse.order }}</td>
            <td>{{ klasse.participants }}</td>
          </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}
