{% extends "adm_base.html" %}
{% block titlecontainer %}
  <div class="w3-10"></div>
  <div class="w3-80">
{% endblock %}
{% block titleheader %}
  {{ lopsinfo }}
{% endblock %}
{% block refresh %}{% endblock %}
{% block titlemain %}{{ lopsinfo }}{% endblock %}
{% block menuitems %}
  <li id=topborder>
    <a href=/raceclasses?event_id={{ event_id }}&action=edit_mode class=dropbtn>Rediger</a>
  </li>
{% endblock %}
{% block content %}
  <div id=spacer></div>
  {% if  action == "edit_mode" %}
      <table>
        <tr id=headerblue align=right>
          <td>
            <form action=/raceclasses method=post>
              <input type="hidden" name="event_id" value="{{ event_id }}">
              <input type="submit" name="refresh_no_of_contestants" value="  Refresh deltakerantall  ">
            </form>
          </td>
          <td>
            <form action=/raceclasses method=get>
              <input type="hidden" name="event_id" value="{{ event_id }}">
              <input type="hidden" name=action value="update_order">
              <input type="submit" name="generate_raceclasses" value="  Rediger startrekkefølge  ">
            </form>
          </td>
          <td>
            <form action=/raceclasses method=post>
              <input type="hidden" name="event_id" value="{{ event_id }}">
              <input type="submit" name="generate_raceclasses" value="  Generer klasser  ">
            </form>
          </td>
          <td>
            <form action=/raceclasses method=post>
              <input type="hidden" name="event_id" value="{{ event_id }}">
              <input type="submit" name="delete_all" value="  Slett alle klasser  ">
            </form>
          </td>
      </table>
    <div id=spacer></div>
      <table>
         <tr id=headerblue>
          <td>Årsklasse</td>
          <td>Løype</td>
          <td>Løpsklasse</td>
          <td>Startrekkefølge</td>
          <td>Deltakere</td>
          <td></td>
          <td></td>
        </tr>
        {% for klasse in raceclasses %}
            <tr>
              <td>{{ klasse.ageclass_name }}</td>
              <td>{{ klasse.distance }}</td>
              <td>{{ klasse.name }}</td>
              <td>{{ klasse.order }}</td>
              <td>{{ klasse.no_of_contestants }}</td>
              <td>
                <form action=/raceclasses method=get>
                  <input type="submit" name=update_one value="  Rediger  ">
                  <input type="hidden" name=action value="update_one">
                  <input type="hidden" name="id" value="{{ klasse.id }}">
                  <input type="hidden" name="event_id" value="{{ event_id }}">
                </form>
              </td>
              <td>
                <form action=/raceclasses method=post>
                  <input type="submit" name=delete_one value="  Slett  ">
                  <input type="hidden" name="id" value="{{ klasse.id }}">
                  <input type="hidden" name="event_id" value="{{ event_id }}">
                </form>
              </td>
            </tr>
        {% endfor %}
      </table>
      {% elif  action == "update_order" %}
        <div id=spacer></div>
        <form action=/raceclasses method=post>
          <div align=right>
            <input type="submit" name=update_order value="  Oppdater  ">
          </div>
          <table>
             <tr id=headerblue>
              <td>Årsklasse</td>
              <td>Løype</td>
              <td>Løpsklasse</td>
              <td>Startrekkefølge</td>
              <td>Deltakere</td>
            </tr>
            {% for klasse in raceclasses %}
                <tr>
                  <td>{{ klasse.ageclass_name }}</td>
                  <td>{{ klasse.distance }}</td>
                  <td>{{ klasse.name }}</td>
                  <td>
                    <input type=number name="order_{{ klasse.id }}" value="{{ klasse.order }}">
                    <input type="hidden" name="id_{{ klasse.id }}" value="{{ klasse.id }}">
                  </td>
                  <td>{{ klasse.no_of_contestants }}</td>
                </tr>
            {% endfor %}
          </table>
          <div id=spacer></div>
          <div align=right>
            <input type="submit" name=update_order value="  Oppdater  ">
            <input type="hidden" name="event_id" value="{{ event_id }}">
          </div>
        </form>
      {% elif action == "update_one" %}
        <div id=spacer></div>
        <form action=/raceclasses method=post>
          <table cellpadding=4>
            <tr id=spacer></tr>
            <tr>
              <td colspan=3 id=headerblue>
                <b>Oppdater klasse</b>
              </td>
            </tr>
            <tr>
              <td width=150>Klasse</td>
              <td><input type=text name="ageclass_name" value="{{ klasse.ageclass_name }}"></td>
              <td></td>
            </tr>
            <tr>
              <td>Distanse</td>
              <td><input type=text name="distance" value="{{ klasse.distance }}"></td>
              <td></td>
            </tr>
            <tr>
              <td>Startrekkefølge</td>
              <td><input type=number name="order" value="{{ klasse.order }}"></td>
              <td></td>
            </tr>
            <tr>
              <td>Løpsklasse</td>
              <td><input type=text name="name" value="{{ klasse.name }}"></td>
              <td></td>
            </tr>
            <tr>
              <td>Deltakere</td>
              <td><input type=text name="no_of_contestants" value="{{ klasse.no_of_contestants }}"></td>
              <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                  <input type="hidden" name="event_id" value="{{ event_id }}">
                  <input type="hidden" name="id" value="{{ klasse.id }}">
                  <input type="submit" name=update_one value="  Oppdater  ">
                </td>
                <td></td>
            </tr>
            <tr id=spacer></tr>
          </table>
        </form>
  {% else %}
    <div id=spacer></div>
    <table>
       <tr id=headerblue>
        <td>Årsklasse</td>
        <td>Løype</td>
        <td>Løpsklasse</td>
        <td>Startrekkefølge</td>
        <td>Deltakere</td>
      </tr>
      {% for klasse in raceclasses %}
          <tr>
            <td>{{ klasse.ageclass_name }}</td>
            <td>{{ klasse.distance }}</td>
            <td>{{ klasse.name }}</td>
            <td>{{ klasse.order }}</td>
            <td>{{ klasse.no_of_contestants }}</td>
          </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}
