{% extends "adm_base.html" %}
{% block titleheader %}
  {{ lopsinfo[0] }}
{% endblock %}
{% block refresh %}300{% endblock %}
{% block titlemain %}
  {{ lopsinfo[0] }}
{% endblock %}
{% block content %}
  <div class="w3-container">
    <br>Velkommen til {{ lopsinfo[0] }}! Her kan du holde deg oppdatert før, under og etter løpet.
    <table cellpadding=5px>
      <tr id=spacer></tr>
      <tr>
        <td width=120>
          <a href="/kjoreplan">Kjøreplan</a>
        </td>
        <td>
          Oversikt over alle heat og informasjon om kvalifisering til finaler.
        </td>
      </tr>
      <tr id=headerblack>
        <td>
          <a href="deltakere">Deltakere</a>
        </td>
        <td>
          Alle påmeldte løpere (pr. klasse eller pr. klubb).
        </td>
      </tr>
      <tr>
        <td>
          <a href="start">Startlister</a>
        </td>
        <td>
          For alle heat.
        </td>
      </tr>
      <tr id=headerblack>
        <td>
          <a href="live">Live scroll</a>
        </td>
        <td>
          Live oppdatering av startlister og resultater. Pr. klubb eller pr. løper.
        </td>
      </tr>
      <tr>
        <td>
          <a href="resultat">Resultater</a>
        </td>
        <td>
          Sluttresultater pr klasse.
        </td>
      </tr>
      <tr id=spacer></tr>
    </table>
  </div>
{% endblock %}
