{% extends "adm_base.html" %}
{% block titleheader %}
  Sprint innstillinger, {{ lopsinfo[0] }}
{% endblock %}
{% block refresh %}3600{% endblock %}
{% block titlemain %}
  Sprint innstillinger
{% endblock %}
{% block content %}
<div class="w3-row-padding">
  <div class="w3-half">
    <form>
      <table cellpadding=5px>
        <tr id=spacer></tr>
        {% for innstilling in innstillinger %}
        <tr>
          <td width=150>{{ innstilling.Parameter }}</td>
          <td><input type=text name="{{ innstilling.Parameter }}" value="{{ innstilling.Verdi }}"></td>
          <td>{{ innstilling.Eksempel }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan=3>
              <input type="submit" name=Update value=Oppdater>
            </td>
        </tr>
        <tr id=spacer></tr>
      </table>
    </form>
  </div>
</div>
{% endblock %}
