{% extends "open_base.html" %}
{% block titlecontainer %}
  <div class="w3-10"></div>
  <div class="w3-80">
{% endblock %}
{% block titleheader %}{{ lopsinfo }}{% endblock %}
{% block titlemain %} <img id=menu_icon src="../static/icon_new.png"> {{ lopsinfo }}{% endblock %}
{% block headercontainer %}{{ lopsinfo }} <img id=header_icon src="../static/icon_new.png"> {% endblock %}
{% block refresh %}{% endblock %}
{% block menuitems %}
  <li class=dropdown id=topborder>
    <a href=javascript:void(0) class=dropbtn>Velg klasse</a>
    <div class=dropdown-content>
      <a href=/contestants?event_id={{ event_id }}>Alle</a>
      {% for klasse in raceclasses %}
        {% for ageclass_name in klasse.ageclasses %}
          {% if action == "new_manual" %}
            <a href=/contestants?event_id={{ event_id }}&klasse={{ klasse.name }}>{{ ageclass_name }}</a>
          {% else %}
            <a href=/contestants?event_id={{ event_id }}&klasse={{ klasse.name }}&action={{ action }}>{{ ageclass_name }}</a>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </li>
  {% if username != "Gjest" %}
    <li id=topborder>
      <a href=/contestants?event_id={{ event_id }}&action=edit_mode&klasse={{ valgt_klasse }} class=dropbtn>Rediger</a>
    </li>
  {% endif %}
{% endblock %}

{% block content %}
  {% for info in info_list %}
    <div class="w3-container" id=info>{{ info }}</div>
  {% endfor %}
  {% if username != "Gjest" and action != "new_manual" %}
    <table>
      <tr>
        <td>
          <form action=/tasks method=get>
            <input type="hidden" name=event_id value="{{ event_id }}">
            <input type="submit" name="to_tasks" value="  Tilbake til oversikten (sette rennet)  ">
          </form>
        </td>
        <td>
          <form action=/contestants method=get>
            <input type="hidden" name=event_id value="{{ event_id }}">
            <input type="hidden" name=klasse value={{ valgt_klasse }}>
            {% if action in ["all_attributes", "edit_mode"] %}
              <input type="submit" name="to_tasks" value="  Normal visning  ">
            {% elif not action %}
              <input type="hidden" name=action value="all_attributes">
              <input type="submit" name="to_tasks" value="  Vis alle attributter  ">
            {% endif %}
          </form>
        </td>
        <td>Antall deltakere: {{ contestants|length }}</td>
      </tr>
    </table>
  {% endif %}
    {% if action == "new_from_file" %}
      <div id=spacer></div>
      <div id=info-header><a id=info-header data-toggle="collapse" href="#info-zone">TIPS</a></div>
      <div id=info-zone class="collapse">
      Det aksepteres 3 ulike filtyper<br>
      <b>1. Sportsadmin</b>: Last ned deltakerliste og lagre som kommaseparert (csv) fil <a href="https://www.harnaes.no/sprint/web/test_deltakerliste_sportsadmin.csv">(eksempelfil: test_deltakerliste_sportsadmin.csv)</a>.<br>
      &nbsp;&nbsp;&nbsp;Start med å eksportere deltakerliste fra Sportsadmin. Brukerveiledning for eksportering finnes i <a target=_blank href="https://itinfo.nif.no/SportsAdmin_Arrangement#Eksportere_til_Excel_og_XML" target=_blank>Sportsadmin</a>.<br><br>
      <b>2. isonen</b>: Last ned deltakerliste og lagre som kommaseparert (csv) fil.<br><br>
      <b>3. Fra eget excel-skjema</b>: Krever 'excel_manual' i filnavnet. Lagre som csv fil i UTF8 format og importer <a target=_blank href="https://www.harnaes.no/sprint/web/test_excel_manual1314.csv">(eksempelfil: test_excel_manual1314.csv)</a><br>
      Headere i filen som støttes er:<br>
      <ul>
        <li>Startnr (valgfritt)</li><br>
        <li>Fornavn</li><br>
        <li>Etternavn (i stedet for Fornavn og Etternavn kan et felt Navn benyttes, som da må inneholde både for- og etternavn)</li><br>
        <li>Klasse</li> (årsklasse, f.eks J 15 år)<br>
        <li>Klubb</li><br>
        <li>Krets</li><br>
        <li>Seedet (valgfritt) - heltall der 1 er beste seeding</li><br>
        <li>Påmeldt (valgfritt) - krever isoformat: 2024-01-05T19:48:03</li><br>
      </ul>
      <br><br>
    </div>
    <div id=spacer>&nbsp;</div>
    <form action=/contestants method=post enctype="multipart/form-data" >
      <table cellpadding=4>
        <tr id=spacer></tr>
        <tr>
          <td colspan=2 id=headerblue>
            <b>Importer deltakerliste fra fil</b>
          </td>
        </tr>
        <tr>
          <td>
            <input type="file" name="file" onchange="savefile(this)">
            <input type="hidden" name="event_id" value={{ event_id }}>
          </td>
          <td>
            <input type="submit" id="create" name=create value="  Last opp  " onclick=save_message(this.id);>
          </td>
        </tr>
        <tr id=spacer>
        </tr>
      </table>
    </form>
    {% elif  action == "edit_mode" %}
        <table>
          <tr align=right>
            <td>
              <form action=/contestants method=get>
                <input type="hidden" name=event_id value="{{ event_id }}">
                <input type="hidden" name=action value="new_from_file">
                <input type="submit" name=new_from_file value="  Last inn deltakere fra fil  ">
              </form>
            </td>
            <td>
              <form action=/contestants method=get>
                <input type="hidden" name=event_id value="{{ event_id }}">
                <input type="hidden" name=action value="new_manual">
                <input type="submit" name=new_manual value="  Etteranmelding  ">
              </form>
            </td>
            <td>
              <form action=/contestants method=post>
                <input type="hidden" name=event_id value="{{ event_id }}">
                <input type="submit" name=assign_bibs value="  Tildel startnummer  ">
              </form>
            </td>
            <td>
              <form action=/contestants method=get>
                <input type="hidden" name=event_id value="{{ event_id }}">
                <input type="hidden" name=action value="delete_select">
                <input type="hidden" name=klasse value={{ valgt_klasse }}>
                <input type="submit" name=delete_select value="  Slett deltakere  ">
              </form>
            </td>
          </tr>
        </table>

    {% endif %}
    {% if  action in ["edit_mode", "delete_select"] %}
        <div id=spacer>&nbsp;</div>
        {% if action == "delete_select" %}
          <form action=/contestants method=post>
          <div>
            &nbsp;&nbsp;&nbsp;<input type="submit" name=delete_select value="  Slett valgte  ">
            <input type="hidden" name=action value={{ action }}>
          </div>
          <div id=spacer>&nbsp;</div>
        {% endif %}
        <table>
          <tr id=headerblue>
            <td>Startnr</td>
            <td>Nytt startnr</td>
            <td>Seeding</td>
            <td></td>
            <td>Navn</td>
            <td>Klubb</td>
            <td>Født</td>
            <td></td>
            <td>Klasse</td>
            <td>Region</td>
            <td>Idrettsnr</td>
          </tr>
          {% for contestant in contestants %}
            <tr>
              {% if  action == "edit_mode"%}
                <td>{{ contestant.bib }}</td>
                <td></td>
                <td>{{ contestant.seeding_points }}</td>
                <td>
                  <form action=/contestants method=get>
                    <input type="submit" name=update_one value="  Rediger  ">
                    <input type="hidden" name=action value="update_one">
                    <input type="hidden" name="id" value="{{ contestant.id }}">
                    <input type="hidden" name="event_id" value="{{ event_id }}">
                  </form>
                </td>
              {% else %}
                <td>{{ contestant.bib }}</td>
                <td></td>
                <td>{{ contestant.seeding_points }}</td>
                <td>
                  <input type="checkbox" name="slett_{{ contestant.bib }}" value="{{ contestant.id }}">
                </td>
              {% endif %}
              <td>{{ contestant.first_name }} {{ contestant.last_name }}</td>
              <td>{{ contestant.club }}{% if contestant.team %} / {{ contestant.team }}{% endif %}</td>
              <td>{{ contestant.birth_date }}</td>
              <td>{{ contestant.gender }}</td>
              <td>{{ contestant.ageclass }}</td>
              <td>{{ contestant.region }}</td>
              <td>{{ contestant.minidrett_id }}</td>
            </tr>
          {% endfor %}
        </table>
        {% if action == "delete_select" %}
          <div>
            &nbsp;&nbsp;&nbsp;<input type="submit" name=delete_select value="  Slett valgte  ">
            <input type="hidden" name=action value="delete select">
            <input type="hidden" name="event_id" value="{{ event_id }}">
          </div>
          </form>
        {% endif %}
      {% elif action == "new_manual" %}
        <div id=spacer></div>
        <! --- Information --->
          <div id=spacer></div>
          <div id=info-header><a id=info-header data-toggle="collapse" href="#info-zone">TIPS - videoinstruksjoner</a></div>
          {% if available_bib < 2 %}<div id="info">Advarsel: Startnummer er ikke tildelt. Du bør ikke utføre etteranmeldinger nå.</div>{% endif %}
          <div id=info-zone class="collapse" align="center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Gp1R1on6ujI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <div id=spacer></div>
        <! --- End Information --->
          <form action=/contestants method=post>
          <table cellpadding=4>
            <tr id=spacer></tr>
            <tr>
              <td colspan=3 id=headerblue>
                <b>Etteranmelding / Opprett ny deltaker</b>
              </td>
            </tr>
            <tr>
              <td>Startnummer</td>
              <td><input type=number name="bib" value="" min="1" max="9999" size=4 {% if available_bib > 1 %}required{% endif %}></td>
              <td>{% if available_bib > 1 %}Tips: Nr {{ available_bib }} er ledig (en over det høyeste som er tildelt){% else %}Tips: Optional - startnummer er ikke tildelt ennå.{% endif %}</td>
            </tr>
            <tr>
              <td width=150>Fornavn *</td>
              <td><input type=text name="first_name" value="" required></td>
              <td></td>
            </tr>
            <tr>
              <td>Etternavn *</td>
              <td><input type=text name="last_name" value="" required></td>
              <td></td>
            </tr>
            <tr>
              <td>Fødseldato</td>
              <td><input type=text name="birth_date" value="" placeholder="01.01.2001" pattern="[0-9]{2}.[0-9]{2}.[0-9]{4}"></td>
              <td></td>
            </tr>
            <tr>
              <td>Aldersklasse</td>
              <td>
                <select name="ageclass">
                  {% for klasse in raceclasses %}
                    {% for ac_name in klasse.ageclasses %}
                      <option value="{{ ac_name }}">{{ ac_name }}</option>
                    {% endfor %}
                  {% endfor %}
                </select>
                <input type=hidden name="gender" value="">
              </td>
              <td></td>
            </tr>
            <tr>
              <td>Klubb *</td>
              <td><input type=text name="club" value="" required></td>
              <td></td>
            </tr>
            <tr>
              <td>Team</td>
              <td><input type=text name="team" value=""></td>
              <td></td>
            </tr>
            <tr>
              <td>Region</td>
              <td><input type=text name="region" value=""></td>
              <td></td>
            </tr>
            <tr>
              <td>Epost</td>
              <td><input type=text name="email" value=""></td>
              <td></td>
            </tr>
            <tr>
              <td>Seeding</td>
              <td><input type=number name="seeding_points" value="" min="1" max="9999" size=4></td>
              <td></td>
            </tr>
            <tr>
              <td>Idrettsnummer</td>
              <td><input type=text name="minidrett_id" value=""></td>
              <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                  <input type="hidden" name="event_id" value="{{ event_id }}">
                  <input type="hidden" id=url name=url value="">
                  <script>
                    document.getElementById("url").value = "http://" + window.location.hostname + ":8090";
                  </script>
                  <input type="submit" id="create_one" name=create_one value="  Lagre  " onclick=save_message(this.id); >
                </td>
                <td></td>
            </tr>
            <tr id=spacer></tr>
          </table>
        </form>
        {% elif action == "update_one" %}
          <div id=spacer></div>
          <form action=/contestants method=post>
            <table cellpadding=4>
              <tr id=spacer></tr>
              <tr>
                <td colspan=3 id=headerblue>
                  <b>Endre deltaker</b>
                </td>
              </tr>
              <tr>
                <td width=150>Fornavn</td>
                <td><input type=text name="first_name" value="{{ contestant.first_name }}"></td>
                <td></td>
              </tr>
              <tr>
                <td>Etternavn</td>
                <td><input type=text name="last_name" value="{{ contestant.last_name }}"></td>
                <td></td>
              </tr>
              <tr>
                <td>Fødseldato</td>
                <td><input type=text name="birth_date" value="{{ contestant.birth_date }}"></td>
                <td></td>
              </tr>
              <tr>
                <td>Kjønn</td>
                <td><input type=text name="gender" value="{{ contestant.gender }}"></td>
                <td></td>
              </tr>
              <tr>
                <td>Aldersklasse</td>
                <td>
                  {% if raceclasses %}
                    <select name="ageclass">
                      {% for klasse in raceclasses %}
                        {% for ac_name in klasse.ageclasses %}
                          <option value="{{ ac_name }}" {% if ac_name == contestant.ageclass %}selected{% endif %}>{{ ac_name }}</option>
                        {% endfor %}
                      {% endfor %}
                    </select>
                  {% else %}
                    <input type=text name="ageclass" value="{{ contestant.ageclass }}"></td>
                  {% endif %}
                </td>
                <td></td>
              </tr>
              <tr>
                <td>Region</td>
                <td><input type=text name="region" value="{{ contestant.region }}"></td>
                <td></td>
              </tr>
              <tr>
                <td>Klubb</td>
                <td><input type=text name="club" value="{{ contestant.club }}"></td>
                <td></td>
              </tr>
              <tr>
                <td>Team</td>
                <td><input type=text name="team" value="{{ contestant.team }}"></td>
                <td></td>
              </tr>
              <tr>
                <td>Epost</td>
                <td><input type=text name="email" value="{{ contestant.email }}"></td>
                <td></td>
              </tr>
              <tr>
                <td>Startnummer</td>
                <td><input type=text name="bib" value="{{ contestant.bib }}"></td>
                <td></td>
              </tr>
              <tr>
                <td>Seeding</td>
                <td><input type=number name="seeding_points" value="{{ contestant.seeding_points }}" min="1" max="9999" size=4></td>
                <td></td>
              </tr>
              <tr>
                <td>Idrettsnummer</td>
                <td><input type=text name="minidrett_id" value="{{ contestant.minidrett_id }}"></td>
                <td></td>
              </tr>
              <tr>
                <td>Påmedlt tid</td>
                <td><input type=text name="registration_date_time" value="{{ contestant.registration_date_time }}"></td>
                <td></td>
              </tr>
              <tr>
                  <td></td>
                  <td>
                    <input type="hidden" name="event_id" value="{{ event_id }}">
                    <input type="hidden" name="id" value="{{ contestant.id }}">
                    <input type="submit" name=update_one value="  Lagre  ">
                  </td>
                  <td></td>
              </tr>
              <tr id=spacer></tr>
            </table>
          </form>
      {% else %}
      <div id=spacer>&nbsp;</div>
      <table>
        {% if action == "all_attributes" %}
          <tr id=headerblue>
            <td colspan="11"><b>Deltakere</b></td>
          </tr>
          <tr id=subheader>
            <td>Startnr</td>
            <td>Navn</td>
            <td>Født</td>
            <td></td>
            <td>Klasse</td>
            <td>Klubb</td>
            <td>Region</td>
            <td>Email</td>
            <td>Idrettsnummer</td>
            <td>Seeding</td>
            <td>Påmeldt tid</td>
          </tr>
            {% for contestant in contestants %}
              <tr>
                <td>{{ contestant.bib }}</td>
                <td>{{ contestant.first_name }} {{ contestant.last_name }}</td>
                <td>{{ contestant.birth_date }}</td>
                <td>{{ contestant.gender }}</td>
                <td>{{ contestant.ageclass }}</td>
                <td>
                  {% if contestant.club_logo %}<img width=15 src={{ contestant.club_logo }}>{% endif %}
                  {{ contestant.club }}{% if contestant.team %} / {{ contestant.team }}{% endif %}
                </td>
                <td>{{ contestant.region }}</td>
                <td>{{ contestant.email }}</td>
                <td>{{ contestant.minidrett_id }}</td>
                <td>{{ contestant.seeding_points }}</td>
                <td>{{ contestant.registration_date_time }}</td>
              </tr>
              {% endfor %}
          <tr id=spacer></tr>
        {% else %}
          <tr id=headerblue>
            <td colspan="7"><b>Deltakere</b></td>
          </tr>
          <tr id=subheader>
            <td>Startnr</td>
            <td>Seeding</td>
            <td>Navn</td>
            <td>Klubb</td>
            <td>Klasse</td>
            <td>Region</td>
            <td>Påmeldt tid</td>
          </tr>
            {% for contestant in contestants %}
              <tr>
                <td>{{ contestant.bib }}</td>
                <td>{{ contestant.seeding_points }}</td>
                <td>{{ contestant.first_name }} {{ contestant.last_name }}</td>
                <td>
                  {% if contestant.club_logo %}<img width=15 src={{ contestant.club_logo }}>{% endif %}
                  {{ contestant.club }}{% if contestant.team %} / {{ contestant.team }}{% endif %}
                </td>
                <td>{{ contestant.ageclass }}</td>
                <td>{{ contestant.region }}</td>
                <td>{{ contestant.registration_date_time }}</td>
              </tr>
              {% endfor %}
          <tr id=spacer></tr>
        {% endif %}
      </table>
    {% endif %}
    {% if username != "Gjest" and action != "new_manual" %}
      <table>
        <tr>
          <td>
            <form action=/tasks method=get>
              <input type="hidden" name=event_id value="{{ event_id }}">
              <input type="submit" name="to_tasks" value="  Tilbake til oversikten (sette rennet)  ">
            </form>
          </td>
          <td>Antall deltakere: {{ contestants|length }}</td>
        </tr>
      </table>
    {% endif %}
  {% endblock %}
