{% extends "print_base.html" %}
{% block titlecontainer %}
  <div class="w3-10"></div>
  <div class="w3-80">
{% endblock %}

{% block titleheader %}
  Utskrift {{ valgt_klubb }}{{ valgt_klasse }}
{% endblock %}

{% block refresh %}0{% endblock %}

{% block content %}
  {% if action == "klubb" %}
    {% for club in clubs %}
      {% if not loop.first %}
        <div id=pagebreak></div>
      {% endif %}
      <div id=adminpagetitle>
          Deltakerliste {{ club }}
      </div>
      <div align=right>{{ event.name }}, {{ event.date_of_event }} </div>
      <table>
        <tr id=headerprint>
          <td width=50>Nr</td>
          <td>Navn</td>
          <td>Klubb</td>
          <td>Klasse</td>
          <td>Region</td>
        </tr>
        {% for loper in contestants %}
          {% if loper.club == club %}
            <tr>
              <td>{{ loper.bib }}</td>
              <td>{{ loper.first_name }} {{ loper.last_name }}</td>
              <td>{{ loper.club }}{% if loper.team %} / {{ loper.team }}{% endif %}</td>
              <td>{{ loper.ageclass }}</td>
              <td>{{ loper.region }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </table>
      <div id=spacer></div>
    {% endfor %}

  {% elif action == "alfabetisk" %}
      <div id=adminpagetitle>
          Deltakerliste {{ action }}
      </div>
      <div align=right>{{ event.name }}, {{ event.date_of_event }} </div>
      <table>
        <tr id=headerprint>
          <td width=50>Nr</td>
          <td>Navn</td>
          <td>Klubb</td>
          <td>Klasse</td>
          <td>Region</td>
        </tr>
        {% for loper in contestants %}
            <tr>
              <td>{{ loper.bib }}</td>
              <td>{{ loper.first_name }} {{ loper.last_name }}</td>
              <td>{{ loper.club }}{% if loper.team %} / {{ loper.team }}{% endif %}</td>
              <td>{{ loper.ageclass }}</td>
              <td>{{ loper.region }}</td>
            </tr>
        {% endfor %}
      </table>
      <div id=spacer></div>

  {% else %}
    {% for raceclass in raceclasses %}
      {% if not loop.first %}
        <div id=pagebreak></div>
      {% endif %}
      <div id=adminpagetitle>
        Deltakerliste {{ raceclass.name }}
      </div>
      <div align=right>{{ event.name }}, {{ event.date_of_event }}</div>
      <table>
        <tr id=headerprint>
          <td width=50>Nr</td>
          <td>Navn</td>
          <td>Klubb</td>
          <td>Klasse</td>
          <td>Region</td>
        </tr>
        {% for loper in contestants %}
          {% if loper.ageclass in raceclass.ageclasses %}
            <tr>
              <td>{{ loper.bib }}</td>
              <td>{{ loper.first_name }} {{ loper.last_name }}</td>
              <td>{{ loper.club }}{% if loper.team %} / {{ loper.team }}{% endif %}</td>
              <td>{{ loper.ageclass }}</td>
              <td>{{ loper.region }}</td>
            </tr>
          {% endif %}
        {% endfor %}
        <tr align=right><td colspan=6>Totalt {{ raceclass.no_of_contestants}} deltakere</td></tr>
      </table>
      <div id=spacer></div>
    {% endfor %}
  {% endif %}
{% endblock %}
