{% extends "open_base.html" %}
{% block titlecontainer %}
  <div class="w3-10"></div>
  <div class="w3-80">
{% endblock %}
{% block titleheader %}
  {{ lopsinfo }}
{% endblock %}
{% block refresh %}{% endblock %}
{% block titlemain %} <img id=menu_icon src="../static/icon_live.png"> {{ lopsinfo }}{% endblock %}
{% block headercontainer %}{{ lopsinfo }} <img id=header_icon src="../static/icon_live.png"> {% endblock %}
{% block menuitems %}
  <li id=topborder>
    <a href=/raceclasses?event_id={{ event_id }}&action=edit_mode class=dropbtn>Rediger</a>
  </li>
{% endblock %}
{% block content %}
  <div id=spacer></div>
  <table>
    <tr>
      <td>
        <form action=/tasks method=get target=new>
          <input type="hidden" name=event_id value="{{ event_id }}">
          <input type="submit" name="to_tasks" value="  Tilbake til rennforberedelser  ">
        </form>
      </td>
    </tr>
  </table>
  {% if  action == "edit_mode" %}
      <table>
        <tr id=headerblue align=right>
          <td>
            <form action=/raceclasses method=post>
              <input type="hidden" name="event_id" value="{{ event_id }}">
              <input type="submit" name="refresh_no_of_contestants" value="  Refresh deltakerantall  ">
            </form>
          </td>
          <td>
            <form action=/raceclasses method=get>
              <input type="hidden" name="event_id" value="{{ event_id }}">
              <input type="hidden" name=action value="merge_ageclasses">
              <input type="submit" name="merge_ageclasses" value="  Slå sammen klasser  ">
            </form>
          </td>
          <td>
            <form action=/raceclasses method=get>
              <input type="hidden" name="event_id" value="{{ event_id }}">
              <input type="hidden" name=action value="update_order">
              <input type="submit" name="generate_raceclasses" value="  Rediger startrekkefølge  ">
            </form>
          </td>
          <td>
            <form action=/raceclasses method=post>
              <input type="hidden" name="event_id" value="{{ event_id }}">
              <input type="submit" name="generate_raceclasses" value="  Generer klasser  ">
            </form>
          </td>
          <td>
            <form action=/raceclasses method=post onsubmit="return confirm_delete();">
              <input type="hidden" name="event_id" value="{{ event_id }}">
              <input type="submit" name="delete_all" value="  Slett alle klasser  ">
            </form>
          </td>
      </table>
    <div id=spacer></div>
      <table>
         <tr id=headerblue>
          <td>Årsklasse</td>
          <td>Løype</td>
          <td>Løpsklasse</td>
          <td>Startgruppe</td>
          <td>Startrekkefølge</td>
          <td>Rangering</td>
          <td>Seeding</td>
          <td>Deltakere</td>
          <td></td>
          <td></td>
        </tr>
        {% for klasse in raceclasses %}
            <tr>
              <td>
                {% for ac_name in klasse.ageclasses %}
                  {{ ac_name }}<br>
                {% endfor %}
              </td>
              <td>{{ klasse.distance }}</td>
              <td>{{ klasse.name }}</td>
              <td>{{ klasse.group }}</td>
              <td>{{ klasse.order }}</td>
              <td>{{ klasse.ranking }}</td>
              <td>{{ klasse.seeding }}</td>
              <td>{{ klasse.no_of_contestants }}</td>
              <td>
                <form action=/raceclasses method=get>
                  <input type="submit" name=update_one value="  Rediger  ">
                  <input type="hidden" name=action value="update_one">
                  <input type="hidden" name="id" value="{{ klasse.id }}">
                  <input type="hidden" name="event_id" value="{{ event_id }}">
                </form>
              </td>
              <td>
                <form action=/raceclasses method=post>
                  <input type="submit" name=delete_one value="  Slett  ">
                  <input type="hidden" name="id" value="{{ klasse.id }}">
                  <input type="hidden" name="event_id" value="{{ event_id }}">
                </form>
              </td>
            </tr>
        {% endfor %}
      </table>
      {% elif  action == "update_order" %}
        <div id=spacer></div>
        <form action=/raceclasses method=post>
          <div align=right>
            <input type="submit" name=update_order value="  Oppdater  ">
          </div>
          <table>
             <tr id=headerblue>
              <td>Årsklasse</td>
              <td>Løype</td>
              <td>Løpsklasse</td>
              <td>Startgruppe</td>
              <td>Startrekkefølge</td>
              <td>Rangering</td>
              <td>Seeding</td>
              <td>Deltakere</td>
            </tr>
            {% for klasse in raceclasses %}
                <tr>
                  <td>
                    {% for ac_name in klasse.ageclasses %}
                      {{ ac_name }}<br>
                    {% endfor %}
                  </td>
                  <td>{{ klasse.distance }}</td>
                  <td>{{ klasse.name }}</td>
                  <td>
                    <input type=number name="group_{{ klasse.id }}" value="{{ klasse.group }}" min="1" max="99" size=5>
                  </td>
                  <td>
                    <input type=number name="order_{{ klasse.id }}" value="{{ klasse.order }}" min="1" max="99" size=5>
                    <input type="hidden" name="id_{{ klasse.id }}" value="{{ klasse.id }}">
                  </td>
                  <td><input type=checkbox name="ranking_{{ klasse.id }}" {% if klasse.ranking %}checked{% endif %}></td>
                  <td><input type=checkbox name="seeding_{{ klasse.id }}" {% if klasse.seeding %}checked{% endif %}></td>
                  <td>{{ klasse.no_of_contestants }}</td>
                </tr>
            {% endfor %}
          </table>
          <div id=spacer></div>
          <div align=right>
            <input type="submit" name=update_order value="  Oppdater  ">
            <input type="hidden" name="event_id" value="{{ event_id }}">
          </div>
        </form>
        {% elif  action == "merge_ageclasses" %}
          <div id=spacer></div>
          <form action=/raceclasses method=post>
            <div id=orange>Velg årsklassene som skal slås sammen og skriv inn navn på den nye løpsklassen</div>
            <table>
               <tr id=headerblue>
                <td>Velg</td>
                <td>Årsklasse</td>
                <td>Løype</td>
                <td>Løpsklasse</td>
                <td>Startgruppe</td>
                <td>Startrekkefølge</td>
                <td>Rangering</td>
                <td>Seeding</td>
                <td>Deltakere</td>
              </tr>
              {% for klasse in raceclasses %}
                  <tr>
                    <td><input type="checkbox" name=ageclass_{{ klasse.name }} value="{{ klasse.id }}"></td>
                    <td>
                      {% for ac_name in klasse.ageclasses %}
                        {{ ac_name }}<br>
                      {% endfor %}
                    </td>
                    <td>{{ klasse.distance }}</td>
                    <td>{{ klasse.name }}</td>
                    <td>{{ klasse.group }}</td>
                    <td>{{ klasse.order }}</td>
                    <td>{{ klasse.ranking }}</td>
                    <td>{{ klasse.seeding }}</td>
                    <td>{{ klasse.no_of_contestants }}</td>
                  </tr>
              {% endfor %}
            </table>
            <div id=spacer></div>
            <div>
              Nytt navn på felles løpsklasse: <input type="text" name=new_raceclass_name value="" required>
              <input type="submit" name=merge_ageclasses value="  Slå sammen  ">
              <input type="hidden" name="event_id" value="{{ event_id }}">
            </div>
          </form>
      {% elif action == "update_one" %}
        <div id=spacer></div>
        <form action=/raceclasses method=post>
          <table cellpadding=4>
            <tr id=spacer></tr>
            <tr>
              <td colspan=3 id=headerblue>
                <b>Oppdater klasse</b>
              </td>
            </tr>
            <tr>
              <td width=150>Klasse</td>
              <td>
                {% for ac_name in klasse.ageclasses %}
                  {% if loop.index == 1 %}
                    <input type=text name="ageclass" value="{{ ac_name }}"><br>
                  {% else %}
                    {{ ac_name }}<br>
                  {% endif %}
                {% endfor %}
              </td>
              <td></td>
            </tr>
            <tr>
              <td>Distanse</td>
              <td><input type=text name="distance" value="{{ klasse.distance }}"></td>
              <td></td>
            </tr>
            <tr>
              <td>Startgruppe</td>
              <td><input type=number name="group" value="{{ klasse.group }}" min="1" max="99"></td>
              <td></td>
            </tr>
            <tr>
              <td>Startrekkefølge</td>
              <td><input type=number name="order" value="{{ klasse.order }}" min="1" max="99"></td>
              <td></td>
            </tr>
            <tr>
              <td>Løpsklasse</td>
              <td><input type=text name="name" value="{{ klasse.name }}"></td>
              <td></td>
            </tr>
            <tr>
              <td>Rangering</td>
              <td><input type=checkbox name="ranking" {% if klasse.ranking %}checked{% endif %}></td>
              <td></td>
            </tr>
            <tr>
              <td>Seeding</td>
              <td><input type=checkbox name="seeding" {% if klasse.seeding %}checked{% endif %}></td>
              <td></td>
            </tr>
            <tr>
              <td>Deltakere</td>
              <td><input type=text name="no_of_contestants" value="{{ klasse.no_of_contestants }}"></td>
              <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                  <input type="hidden" name="event_id" value="{{ event_id }}">
                  <input type="hidden" name="id" value="{{ klasse.id }}">
                  <input type="submit" name=update_one value="  Oppdater  ">
                </td>
                <td></td>
            </tr>
            <tr id=spacer></tr>
          </table>
        </form>
  {% else %}
    <div id=spacer></div>
    <table>
       <tr id=headerblue>
        <td>Årsklasse</td>
        <td>Løype</td>
        <td>Løpsklasse</td>
        <td>Startgruppe</td>
        <td>Startrekkefølge</td>
        <td>Rangering</td>
        <td>Seeding</td>
        <td>Deltakere</td>
      </tr>
      {% for klasse in raceclasses %}
          <tr>
            <td>
              {% for ac_name in klasse.ageclasses %}
                {{ ac_name }}<br>
              {% endfor %}
            </td>
            <td>{{ klasse.distance }}</td>
            <td>{{ klasse.name }}</td>
            <td>{{ klasse.group }}</td>
            <td>{{ klasse.order }}</td>
            <td>{{ klasse.ranking }}</td>
            <td>{{ klasse.seeding }}</td>
            <td>{{ klasse.no_of_contestants }}</td>
          </tr>
      {% endfor %}
    </table>
  {% endif %}
  <table>
    <tr>
      <td>
        <form action=/tasks method=get target=new>
          <input type="hidden" name=event_id value="{{ event_id }}">
          <input type="submit" name="to_tasks" value="  Tilbake til rennforberedelser  ">
        </form>
      </td>
    </tr>
  </table>
{% endblock %}
