{% extends "open_base.html" %}
{% block titlecontainer %}
  <div class="w3-10"></div>
  <div class="w3-80">
{% endblock %}

{% block titleheader %}
  {{ lopsinfo }}
{% endblock %}
{% block refresh %}{% endblock %}
{% block titlemain %} <img id=menu_icon src="../static/icon_timing.png"> Rediger heat{% endblock %}
{% block headercontainer %}Rediger heat <img id=header_icon src="../static/icon_timing.png"> {% endblock %}
{% block content %}
  <div id=spacer></div>

  <! --- Information --->
    <div id=spacer></div>
    <div id=info-header><a id=info-header data-toggle="collapse" href="#info-zone">TIPS</a></div>
    <div id=info-zone class="collapse">
      - Rediger heat informasjon. Merk at endringer ikke vil bli validert.<br>
      - Maks antall startende (denne bør kun endres i finaleheat).<br>
    </div>
  <! --- End Information --->

 
  <! --- Display edit information --->
  {% for race in races %}
    <div id=spacer></div>
    <form action="/raceplans" method=post>
      <input type="hidden" name="event_id" value="{{ event_id }}">
      <input type="hidden" name="action" value="edit_mode">
      <input type="hidden" name="race_id" value="{{ race.id }}">
      <table>
            <tr id=headerblue>
                <td width="100">Felt</td>
                <td width="100">Verdi</td>
                <td width="100">Ny verdi</td>
                <td>Kommentar</td>
            </tr>
            <tr>
                <td>Heat nr</td>
                <td>{{ race.order }}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Runde</td>
                <td>{{ race.raceclass }}-{{ race.round }}{{ race.index }}{{ race.heat }}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Max startende</td>
                <td>{{ race.max_no_of_contestants }}</td>
                <td><input type=text name="new_max_no_of_contestants" value="" size=8></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><input type="submit" name=update_one value="  Lagre  "></td>
                <td></td>
            </tr>
        </table>
    </form>
  {% endfor %}
  <! --- End Display edit info --->
{% endblock %}
