{% extends "open_base.html" %}
{% block titlecontainer %}
  <div class="w3-10"></div>
  <div class="w3-80">
{% endblock %}

{% block titleheader %}
  {{ lopsinfo }}
{% endblock %}
{% block refresh %}{% endblock %}
{% block titlemain %} <img id=menu_icon src="../static/icon_timing.png"> {{ lopsinfo }}{% endblock %}
{% block headercontainer %}{{ lopsinfo }} <img id=header_icon src="../static/icon_timing.png"> {% endblock %}
{% block menuitems %}
  <li class=dropdown id=topborder>
    <a href=javascript:void(0) class=dropbtn>Velg klasse</a>
    <div class=dropdown-content>
      <a href=raceplans?event_id={{ event_id }}>Alle</a>
      {% for klasse in raceclasses %}
        {% for ac_name in klasse.ageclasses %}
          <a href=raceplans?klasse={{ klasse.name }}&event_id={{ event_id }}>{{ ac_name }}</a>
        {% endfor %}
      {% endfor %}
    </div>
  </li>
  {% if username != "Gjest" %}
  <li id=topborder>
    <a href=/raceplans?event_id={{ event_id }}&action=edit_mode class=dropbtn>Rediger</a>
  </li>
  {% endif %}
{% endblock %}
{% block content %}
  <div id=spacer></div>
  <table>
    <tr>
      <td>
        <form action=/tasks method=get>
          <input type="hidden" name=event_id value="{{ event_id }}">
          <input type="submit" name="to_tasks" value="  Tilbake til oversikten (sette rennet)  ">
        </form>
      </td>
      <td width=150 align=center>
        <ul>
          <li class=dropdown>
            <a href=javascript:void(0) class=dropbtn>Utskrift</a>
            <div class=dropdown-content>
                <a id="myPrint" target=_new onclick="result_gui_href('myPrint', 'print_lists?event_id={{ event_id }}&action=raceplan')" href=>Alle</a>
              {% for klasse in raceclasses %}
                  <a id="myPrint{{ klasse.name}}" target=_new onclick="result_gui_href('myPrint{{ klasse.name}}', 'print_lists?klasse={{ klasse.name }}&event_id={{ event_id }}&action=raceplan')" href=>{{ klasse.name}}</a>
              {% endfor %}
            </div>
          </li>
        </ul>
      </td>
    </tr>
  </table>

  <! --- Information --->
  {% if action == "edit_time" %}
    <div id=spacer></div>
    <div id=info-header><a id=info-header data-toggle="collapse" href="#info-zone">TIPS</a></div>
    <div id=info-zone class="collapse">
      - Kun ett tidspunkt kan endres om gangen. Alle påfølgende heat vil bli justert tilsvarende.<br>
      - Hviletider må verifiseres - bruk kolonnene "minste tid...". Disse beregner minste tid mellom start siste kvartfinale og start første semifinale / siste semifinale og første finale.<br>
      - Funksjonen "Sett minimum hviletid" vil legge inn pauser i kjøreplanen slik at ingen løpere får mindre enn angitt tid mellom to starter.
    </div>
  {% elif raceplan_validation %}
      <div class="w3-container" id=info><br>&nbsp;<img width=15 src="../static/warning.png" title="Valideringsfeil">Valideringsfeil.<br>
        {% for key, value in raceplan_validation.items() %}
          Heat {{ key }}: {% for element in value %}{{ element }}{% endfor %}<br>
        {% endfor %}
        <br>
      </div>
  {% endif %}
  <! --- End Information --->

  <! --- Edit menu --->
  {% if action == "edit_mode" %}
    <div id=spacer></div>
    <table>
      <tr id=headerblue align=right>
      <td>
        <form action=/raceplans method=get>
          <input type="hidden" name="event_id" value="{{ event_id }}">
          <input type="hidden" name=action value="edit_time">
          <input type="submit" name="edit_time" value="  Tilpass tidskjema  ">
        </form>
      </td>
      <td>
        <form action=/raceplans method=post>
          <input type="hidden" name="event_id" value="{{ event_id }}">
          <input type="submit" name="generate_raceplan" value="  Generer kjøreplan  ">
        </form>
      </td>
      <td>
        <form action=/raceplans method=post onsubmit="return confirm_delete('OBS: Dette vil slette alle kjøreplaner.');">
          <input type="hidden" name="event_id" value="{{ event_id }}">
          <input type="submit" name="delete_all" value="  Slett alle kjøreplaner  ">
        </form>
      </td>
      <td width="100"></td>
    </table>
  {% elif action == "edit_time" %}
    <div id=spacer></div>
    <table>
      <tr id=headerblue align=right>
        <td>
          <form action=/raceplans method=post>
            <select name="min_rest_time">
              <option value="10">&nbsp;&nbsp;10 min  </option>
              <option value="12" selected>&nbsp;&nbsp;12 min</option>
              <option value="15">&nbsp;&nbsp;15 min</option>
              <option value="18">&nbsp;&nbsp;18 min</option>
              <option value="20">&nbsp;&nbsp;20 min</option>
              <option value="25">&nbsp;&nbsp;25 min&nbsp;&nbsp;</option>
            </select>
            <input type="hidden" name="event_id" value="{{ event_id }}">
            <input type="submit" id="set_rest_time" name="set_rest_time" value="  Sett minimum hviletid  " onclick=save_message(this.id);>
          </form>
        </td>
        <td width="100"></td>
    </table>
  {% endif %}
  <! --- End edit menu --->
 
  <! --- Display raceplan summary --->
    <div id=spacer></div>
    <table>
      <tr id=headerblue>
        <td>Løpsklasse</td>
        <td>Kvartfinale start</td>
        <td>Semifinaler</td>
        <td>Finaler</td>
        <td>Antall deltakere</td>
        {% if action == "edit_time" %}
        <td>Minste tid mellom start 1 og 2</td>
        <td>Minste tid mellom start 2 og 3</td>
        {% endif %}
      </tr>
      {% for raceclass in raceplan_summary %}
        {% if (valgt_klasse == "") or (valgt_klasse == raceclass.name) %}
          <tr>
            <td>{{ raceclass.name }}</td>
            <td>{{ raceclass.timeQ }}</td>
            <td>{{ raceclass.timeS }}</td>
            <td>{{ raceclass.timeF }}</td>
            <td>{{ raceclass.no_of_contestants }}</td>
            {% if action == "edit_time" %}
              <td align="center">
                {{ raceclass.min_pauseS }}
                {% if raceclass.warning_pauseS %}
                  &nbsp;<img width=15 src="../static/warning.png" title="Short connection between flights!">
                {% endif %}
              </td>
              <td align="center">
                {{ raceclass.min_pauseF }}
                {% if raceclass.warning_pauseF %}
                  &nbsp;<img width=15 src="../static/warning.png" title="Short connection between flights!">
                {% endif %}
              </td>
            {% endif %}
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  <! --- End Display raceplan summary --->

  <! --- Raceplan list --->
  <table>
    <tr id=headerblue>
      <td>Start</td>
      {% if action == "edit_time" %}
        <td>Ny tid</td>
      {% endif %}
      <td>Løpsklasse</td>
      <td>Heat</td>
      <td>Ant løpere / maks</td>
      <td>Videre til</td>
      <td>Nr</td>
      <td>
      </td>
    </tr>
    {% for race in races %}
      {% if (valgt_klasse == "") or (valgt_klasse == race.raceclass) %}
        <tr>
          <td>{{ race.start_time[-8:] }}</td>
          {% if action == "edit_time" %}
            <td>
              <form action="/raceplans" method=post>
                <input type="hidden" name="event_id" value="{{ event_id }}">
                <input type=hidden name=order value="{{ race.order }}">
                <input type=text name="new_time" value="" pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}" size=8 required>
                <input type="submit" name=update_time value="  Lagre  ">
              </form>
            </td>
          {% endif %}
          <td>{{ race.raceclass }}</td>
          <td>
            {% if race.round == "Q" %}
              Kvartfinale {{ race.heat }}
            {% elif race.round == "S" %}
              Semifinale {{ race.index }}{{ race.heat }}
            {% elif race.round == "F" %}
              Finale {{ race.index }}
            {% elif race.round == "R1" %}
              Runde 1
            {% elif race.round == "R2" %}
              Runde 2
            {% endif %}
          </td>
          <td>{{ race.no_of_contestants }} / {{ race.max_no_of_contestants }}</td>
          <td>{{ race.next_race }}</td>
          <td>
            {% if race.validation %}
              <img width=15 src="../static/warning.png" title="{{ race.validation }}">&nbsp;
            {% endif %}
            {{ race.order }}
          </td>
          <td>
            {% if  action == "edit_mode" %}
              <form action=/raceplans method=get>
                <input type="submit" name=edit_one value="  Endre  ">
                <input type="hidden" name="race_id" value="{{ race.id }}">
                <input type="hidden" name="action" value="edit_one">
                <input type="hidden" name="event_id" value="{{ event_id }}">
              </form>
            {% endif %}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
  <table>
    <tr>
      <td>
        <form action=/tasks method=get>
          <input type="hidden" name=event_id value="{{ event_id }}">
          <input type="submit" name="to_tasks" value="  Tilbake til oversikten (sette rennet)  ">
        </form>
      </td>
    </tr>
  </table>
{% endblock %}
