{% extends "open_base.html" %}
{% block titlecontainer %}
  <div class="w3-10"></div>
  <div class="w3-80">
{% endblock %}

{% block titleheader %}{{ lopsinfo }}{% endblock %}
{% block refresh %}{% endblock %}
{% block titlemain %}{{ lopsinfo }}{% endblock %}
{% block content %}
  <div id=spacer></div>
    <div align=right>
            <form action=/settings method=post>
              <input type="submit" name=generate_default value="  Generer default innstillinger  ">
            </form>
    </div>
    <div id=spacer></div>
    <table>
      <tr>
        <td colspan="{{ competition_formats|length }}" id=headerblue>
          Competition_formats
        </td>
      </tr>
      <tr id=spacer>
      </tr>
      <tr>
        {% for format in competition_formats %}
          <td valign=top>
            <form action=/settings method=post>
              <input type=hidden name=datatype value="{{ format.datatype }}">
              <input type=hidden name=id value="{{ format.id }}">
              <input type=hidden name=name value="{{ format.name }}">
              <input type=hidden name=start_procedure value="{{ format.start_procedure }}">
              <input type=hidden name=starting_order value="{{ format.starting_order }}">
              <table>
                <tr>
                  <td>Navn</td>
                  <td><b>{{ format.name }}</b></td>
                </tr>
                <tr>
                  <td>Startprosedyre</td>
                  <td>{{ format.start_procedure }}</td>
                </tr>
                <tr>
                  <td>Startrekkefølge</td>
                  <td>{{ format.starting_order }}</td>
                </tr>
                <tr>
                  <td>Pause mellom grupper</td>
                  <td><input type=text name=time_between_groups value="{{ format.time_between_groups }}" required></td>
                </tr>
            {% if format.datatype == "interval_start" %}
                <tr>
                  <td>Startintervall</td>
                  <td><input type=text name=intervals value="{{ format.intervals }}" required></td>
                </tr>
                <tr>
                  <td colspan=2>&nbsp;</td>
                </tr>
            {% elif format.datatype == "individual_sprint" %}
                <tr>
                  <td>Pause mellom runde</td>
                  <td><input type=text name=time_between_rounds value="{{ format.time_between_rounds }}" required></td>
                </tr>
                <tr>
                  <td>Pause mellom heat</td>
                  <td><input type=text name=time_between_heats value="{{ format.time_between_heats }}" required></td>
                </tr>
            {% endif %}
            <tr>
              <td>Deltakertak pr klasse</td>
              <td>
                <input type=number name=max_no_of_contestants_in_raceclass value="{{ format.max_no_of_contestants_in_raceclass }}" min=0 max=9999>
              </td>
            </tr>
            <tr>
              <td>Deltakertak pr heat</td>
              <td>
                <input type=number name=max_no_of_contestants_in_race value="{{ format.max_no_of_contestants_in_race }}" min=0 max=9999>
              </td>
            </tr>
              <tr>
                <td></td>
                <td>
                  <input type="submit" name=update value="  Oppdater  ">
                </td>
              </tr>
            </table>
          </form>
        </td>
      {% endfor %}
    </tr>
  </table>
  <form action=/settings method=post>
    <table>
      <tr>
        <td colspan=4 id=headerblue>Sprint oppsett</td>
      </tr>
      <tr>
        <td id=subheader>Maks deltakere</td>
        <td id=subheader>Kvartfinaler (ant heat / regel)</td>
        <td id=subheader>Semifinaler (ant heat / regel)</td>
        <td id=subheader>Finaler (antall)</td>
      </tr>
      {% for one_setting in sprint_race_matrix %}
      <tr>
        <td align=center>
          <input type=number name=max_no_of_contestants_{{ loop.index }} value="{{ one_setting.max_no_of_contestants }}" min=0 max=999>
        </td>
        <td>
          Q: <input type=number name=no_of_heat_Q_{{ loop.index }} value="{{ one_setting.no_of_heat.Q }}" min=0 max=99>
          <input type=text name=rule_Q_{{ loop.index }} value="{{ one_setting.rule.Q }}">
        </td>
        <td>
          SC: <input type=number name=no_of_heat_SC_{{ loop.index }} value="{{ one_setting.no_of_heat.SC }}" min=0 max=9>
          <input type=text name=rule_SC_{{ loop.index }} value="{{ one_setting.rule.SC }}">
          <br>
          SA: <input type=number name=no_of_heat_SA_{{ loop.index }} value="{{ one_setting.no_of_heat.SA }}" min=0 max=9>
          <input type=text name=rule_SA_{{ loop.index }} value="{{ one_setting.rule.SA }}">
        </td>
        <td>
          FC: <input type=number name=no_of_heat_FC_{{ loop.index }} value="{{ one_setting.no_of_heat.FC }}" min=0 max=9><br>
          FB: <input type=number name=no_of_heat_FB_{{ loop.index }} value="{{ one_setting.no_of_heat.FB }}" min=0 max=9><br>
          FA: <input type=number name=no_of_heat_FA_{{ loop.index }} value="{{ one_setting.no_of_heat.FA }}" min=0 max=9>
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td>
          <input type="submit" name=update_sprint_config value="  Oppdater  ">
        </td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </form>
  <br>
  <form action=/settings method=post>
    <table>
      <tr>
        <td colspan=3 id=headerblue>Andre innstillinger</td>
      </tr>
      <tr>
        <td>Time_zone_offset</td>
        <td>
          <input type="number" name=time_zone_offset value={{ other_settings.time_zone_offset }} min=-9 max=9>
        </td>
        <td>Lokal tid er: <b>{{ local_time }}</b>. Justere lokal tid dersom tidssone på server og konkurransested er ulikt</td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="submit" name=update_other value="  Oppdater  ">
        </td>
        <td></td>
      </tr>
    </table>
  </form>
{% endblock %}
