{% extends "open_base.html" %}
{% block titlecontainer %}
  <div class="w3-10"></div>
  <div class="w3-80">
{% endblock %}

{% block titleheader %}{{ lopsinfo }}{% endblock %}
{% block refresh %}{% endblock %}
{% block titlemain %}{{ lopsinfo }}{% endblock %}
{% block content %}
  <div id=spacer></div>
    <div align=right>
            <form action=/settings method=post>
              <input type="submit" name=generate_default value="  Generer default innstillinger  ">
            </form>
    </div>
    <div id=spacer></div>
    <table cellpadding=4>
      <tr>
        <td colspan="{{ competition_formats|length }}" id=headerblue>
          Competition_formats
        </td>
      </tr>
      <tr id=spacer>
      </tr>
      <tr>
        {% for format in competition_formats %}
          <td valign=top>
            <form action=/settings method=post>
              <input type=hidden name=datatype value="{{ format.datatype }}">
              <input type=hidden name=id value="{{ format.id }}">
              <input type=hidden name=name value="{{ format.name }}">
              <input type=hidden name=start_procedure value="{{ format.start_procedure }}">
              <input type=hidden name=starting_order value="{{ format.starting_order }}">
              <table>
                <tr>
                  <td>Navn</td>
                  <td><b>{{ format.name }}</b></td>
                </tr>
                <tr>
                  <td>Startprosedyre</td>
                  <td>{{ format.start_procedure }}</td>
                </tr>
                <tr>
                  <td>Startrekkefølge</td>
                  <td>{{ format.starting_order }}</td>
                </tr>
                <tr>
                  <td>Pause mellom grupper</td>
                  <td><input type=text name=time_between_groups value="{{ format.time_between_groups }}" required></td>
                </tr>
            {% if format.datatype == "interval_start" %}
                <tr>
                  <td>Startintervall</td>
                  <td><input type=text name=intervals value="{{ format.intervals }}" required></td>
                </tr>
                <tr>
                  <td colspan=2>&nbsp;</td>
                </tr>
            {% elif format.datatype == "individual_sprint" %}
                <tr>
                  <td>Pause mellom runde</td>
                  <td><input type=text name=time_between_rounds value="{{ format.time_between_rounds }}" required></td>
                </tr>
                <tr>
                  <td>Pause mellom heat</td>
                  <td><input type=text name=time_between_heats value="{{ format.time_between_heats }}" required></td>
                </tr>
            {% endif %}
            <tr>
              <td>Deltakertak pr klasse</td>
              <td>
                <input type=number name=max_no_of_contestants_in_raceclass value="{{ format.max_no_of_contestants_in_raceclass }}" min=0 max=9999>
              </td>
            </tr>
            <tr>
              <td>Deltakertak pr heat</td>
              <td>
                <input type=number name=max_no_of_contestants_in_race value="{{ format.max_no_of_contestants_in_race }}" min=0 max=9999>
              </td>
            </tr>
              <tr>
                <td></td>
                <td>
                  <input type="submit" name=update value="  Oppdater  ">
                </td>
              </tr>
            </table>
          </form>
        </td>
      {% endfor %}
    </tr>
    <tr id=spacer></tr>
  </table>
{% endblock %}
