{% extends "open_base_new.html" %}

{% block titleheader %}{{ lopsinfo }}{% endblock %}
{% block refresh %}{% endblock %}
{% block max_width %}1200{% endblock %}
{% block titlemain %} <img id=menu_icon src="../static/icon_settings.png"> {{ lopsinfo }}{% endblock %}
{% block headercontainer %}{{ lopsinfo }} <img id=header_icon src="../static/icon_settings.png"> {% endblock %}

<! --- Information --->
{% block tips %}
  - Her settes hele rennet - innlasting av deltakere, opprettelse av klasser, kjøreplan, seeding og startliste.<br>
  - Dokumentasjon finnes her: <a href=https://langrenn-sprint.github.io/docs/before_race target="_blank">https://langrenn-sprint.github.io/docs/before_race</a><br>
  - Videoinstruksjoner finnes for hver funksjon (bruk <img src="../static/video.png" width="20" height="20"> ikonet). Alle videoer finnes på Youtube: <a href=https://youtu.be/By1KbuHGirQ target="_blank">YouTube, spilleliste "langrenn-sprint"</a><br>
{% endblock %}
<! --- End Information --->

{% block content %}
  <section class="row" aria-label="Innlogging">
    <div class="col-sm-12">
      <h2>Arbeidsflyt - sette rennet</h2>
    </div>
  </section>
  <div class="w3-container">
    <table>
      <tr id=subheader>
        <td></td>
        <td>
        </td>
        <td width=150>Status</td>
        <td>Funksjoner</td>
        <td>Informasjon</td>
      </tr>
      <tr>
        <td>1a. Arrangement: Opprett (<a href=/events?event_id={{ event_id }}>se/endre</a>)</td>
        <td>
          <a href="https://youtube.com/clip/UgkxVITcKqDXK2bojijsB8PAkA6ikulGSROf?si=ud_7rOMWIO6XucIv" target="_blank">
            <img src="../static/video.png" title="Video - Nytt arrangement" width="20" height="20">
          </a>
        </td>
        <td id=green>Utført</td>
        <td></td>
        <td>Tid: {{ event.date_of_event }} kl. {{ event.time_of_event }}<br>Arrangør: {{ event.organiser }}{% if (event.webpage) %} <a href={{ event.webpage }}>Mer info</a>{% endif %}</td>
      </tr>
      <tr>
        <td>1b. Arrangement: Sprint oppsett</td>
        <td>
          <a href="https://youtube.com/clip/Ugkx2-IrmmOmhkmI87fbWHDuKzEiwFo3MfL_?si=YO7aqXHeFqbp2Ppd" target="_blank">
            <img src="../static/video.png" title="Video - Sprint oppsett" width="20" height="20">
          </a>
        </td>
        {% if (task_status.done_6) %}
          <td id=green>Utført</td>
          <td></td>
        {% else %}
          <td></td>
          <td>
              <form action=/settings method=get>
                <input type="submit" value="  Rediger oppsett  " class="btn btn-default">
              </form>
          </td>
        {% endif %}
        <td>Mulighet for å tilpasse sprint oppsett, antall pr heat og tid-innstillinger</td>
      </tr>
      <tr>
        <td>
          2. Deltakere: Last inn (<a href=/contestants?event_id={{ event_id }}>se/endre</a>)
        </td>
        <td>
          <a href="https://youtube.com/clip/UgkxVr0qnmwGr--scKWuSZrK4CEvrmQHuUS2?si=obMdIb4j7cj9Z9zO" target="_blank">
            <img src="../static/video.png" title="Video - Last inn deltakere" width="20" height="20">
          </a>
        </td>
        {% if (task_status.done_2) %}
          <td id=green>Utført</td>
          <td>
            {% if (task_status.done_8) %}
              <form onclick="result_gui_action('myAvmeld', 'start_edit')" id="myAvmeld" action=/start_edit method=get>
                <input type="hidden" name="event_id" value="{{ event_id }}">
                <input type="hidden" name="action" value="edit_mode">
                <input type="submit" name="remove_start" value="  Melde av (fjerne fra startliste) " class="btn btn-default">
              </form>
            {% endif %}
          </td>
          <td>{{ task_status.no_of_contestants}} deltakere.</td>
        {% else %}
          <td id=red>Mangler</td>
          <td>
              <form action=/contestants method=get>
                <input type="hidden" name=event_id value="{{ event_id }}">
                <input type="hidden" name=action value="new_from_file">
                <input type="submit" name=new_from_file value="  Last inn deltakere fra fil  " class="btn btn-default">
              </form>
          </td>
          <td></td>
        {% endif %}
      </tr>
      <tr>
        <td>3a. Klasser: Opprett (<a href=/raceclasses?event_id={{ event_id }}>se/endre</a>)</td>
        <td>
          <a href="https://youtube.com/clip/UgkxOoS6PDocELARATX6OSIOx28ddg9o64xC?si=yQUPzm4SlVTUjrGt" target="_blank">
            <img src="../static/video.png" title="Video - Klasser" width="20" height="20">
          </a>
        </td>
        {% if (task_status.done_3) %}
          <td id=green>Utført</td>
          <td>
            {% if not task_status.done_6 %}
              <form action=/raceclasses method=get>
                <input type="hidden" name="event_id" value="{{ event_id }}">
                <input type="hidden" name=action value="merge_ageclasses">
                <input type="submit" name="merge_ageclasses" value="  Slå sammen klasser  " class="btn btn-default">
              </form>
            {% endif %}
          </td>
          <td>{{ task_status.no_of_raceclasses}} klasser.</td>
        {% else %}
          <td id=red>Mangler</td>
          <td>
            {% if (task_status.done_2) %}
              <form action=/raceclasses method=post>
                <input type="hidden" name="event_id" value="{{ event_id }}">
                <input type="submit" id="generate_raceclasses" name="generate_raceclasses" value="  Generer klasser  " onclick=save_message(this.id); class="btn btn-success">
              </form>
            {% endif %}
          </td>
          <td></td>
        {% endif %}
      </tr>
      <tr>
        <td>3b. Klasser: Startrekkefølge</td>
        <td>
          <a href="https://youtube.com/clip/UgkxP3E6r-k5nBlZ6bLiHqwEAXhxuRylZUAC?si=AzwUSyezAQLeTr7T" target="_blank">
            <img src="../static/video.png" title="Video - Startrekkefølge" width="20" height="20">
          </a>
        </td>
        {% if (task_status.done_6) %}
          <td id=green>Utført</td>
          <td></td>
          <td></td>
        {% else %}
          <td>Manuell sjekk</td>
          <td>
            {% if (task_status.done_3) %}
              <form action=/raceclasses method=get>
                <input type="hidden" name="event_id" value="{{ event_id }}">
                <input type="hidden" name=action value="update_order">
                <input type="submit" name="generate_start" value="  Rediger startrekkefølge  " class="btn btn-default">
              </form>
            {% endif %}
          </td>
          <td></td>
        {% endif %}
      </tr>
      <tr>
        <td>4a. Kjøreplan: Opprett (<a href=/raceplans?event_id={{ event_id }}>se/endre</a>)</td>
        <td>
          <a href="https://youtube.com/clip/Ugkx05ceyvE2PmAMyL3MYU2a2hla1lPpA3eX?si=QFXKK-1diqq0OTQq" target="_blank">
            <img src="../static/video.png" title="Video - Kjøreplan" width="20" height="20">
          </a>
        </td>
        {% if (task_status.done_6) %}
          {% if (task_status.raceplan_validation) %}
            <td id=orange>Valideringsfeil</td>
          {% else %}
            <td id=green>Utført</td>
          {% endif %}
          <td>
            <ul>
              <li class=dropdown>
                <a target="_new" onclick="result_gui_href('myPPlan', 'print_lists?event_id={{ event_id }}&action=raceplan')" id="myPPlan" class=dropbtn href=>Skriv ut kjøreplan</a>
              </li>
            </ul>
          </td>
          <td>
            {% if (task_status.raceplan_validation) %}
              {% for key, value in task_status.raceplan_validation.items() %}
                {{ key }}: {% for element in value %}{{ element }}{% endfor %}<br>
              {% endfor %}
            {% else %}
              {{ task_status.no_of_races}} heat er opprettet.
            {% endif %}
          </td>
          </tr>
        {% else %}
          <td id=red>Mangler</td>
          <td>
            {% if (task_status.done_4) %}
              <form action=/raceplans method=post>
                <input type="hidden" name="event_id" value="{{ event_id }}">
                <input type="submit" id="generate_raceplan" name="generate_raceplan" value="  Generer kjøreplan  " onclick=save_message(this.id); class="btn btn-success">
              </form>
            {% endif %}
          </td>
          <td></td>
        {% endif %}
      </tr>
      <tr>
        <td>4b. Kjøreplan: Tilpass tidsskjema (<a href=/raceplans?event_id={{ event_id }}&action=edit_time>se/endre</a>)</td>
        <td>
          <a href="https://youtube.com/clip/UgkxHUUTs5G21QuKHV9BDWFsx8vZN34M9BnH?si=6uLu9M8cRUYnD34T" target="_blank">
            <img src="../static/video.png" title="Video - Tidsskjema" width="20" height="20">
          </a>
        </td>
        <td></td>
        <td>
          {% if (task_status.done_6) %}
            <form action=/raceplans method=get>
              <input type="hidden" name="event_id" value="{{ event_id }}">
              <input type="hidden" name=action value="edit_time">
              <input type="submit" name="edit_time" value="  Rediger starttid  " class="btn btn-default">
            </form>
          {% endif %}
        </td>
        <td>For å endre tid mellom heat, <a href=/raceplans?event_id={{ event_id }}&action=edit_heat_time_interval>se her</a>.</td>
    </tr>
    <tr>
      <td>5a. Deltakere: Startnummer (<a href=/contestants?event_id={{ event_id }}&action=edit_mode>se/endre</a>)</td>
      <td>
        <a href="https://youtube.com/clip/Ugkxqx_SsRIi9zSy0909GMz7mmT9jzqW3sly?si=H_n7WTGD1pXtvM1b" target="_blank">
          <img src="../static/video.png" title="Video - Startnummer" width="20" height="20">
        </a>
      </td>
      {% if (task_status.done_5) %}
        <td id=green>Utført</td>
        <td>
          <ul>
            <li class=dropdown>
              <a href=javascript:void(0) class=dropbtn>Skriv ut deltakerlister</a>
              <div class=dropdown-content>
                <a target=_blank href=print_contestants?event_id={{ event_id }}&action=klasse>Pr klasse</a>
                <a target=_blank href=print_contestants?event_id={{ event_id }}&action=klubb>Pr klubb</a>
                <a target=_blank href=print_contestants?event_id={{ event_id }}&action=fornavn>Sortert på fornavn</a>
                <a target=_blank href=print_contestants?event_id={{ event_id }}&action=etternavn>Sortert på etternavn</a>
                <a target=_blank href=print_contestants?event_id={{ event_id }}&action=klubb_fornavn>Pr klubb og fornavn</a>
                <a target=_blank href=print_contestants?event_id={{ event_id }}&action=klubb_etternavn>Pr klubb og etternavn</a>
                <a target=_blank href=print_contestants?event_id={{ event_id }}&action=klasse_fornavn>Pr klasse og fornavn</a>
                <a target=_blank href=print_contestants?event_id={{ event_id }}&action=klasse_etternavn>Pr klasse og etternavn</a>
              </div>
            </li>
          </ul>
        </td>
        <td>{{ task_status.bib_missing}} deltakere mangler startnummer.</td>
      {% else %}
          {% if (task_status.no_of_contestants == task_status.bib_missing) %}
            <td id=red>Mangler</td>
            <td>
              {% if (task_status.done_2) %}
                <form action=/contestants method=post>
                  <input type="hidden" name=event_id value="{{ event_id }}">
                  <input type="submit" name=assign_bibs value="  Tildel startnummer  " onclick=save_message(this.id); class="btn btn-success">
                </form>
              </td>
              <td>For å starte på noe annet enn startnummer 1, <a href=/contestants?event_id={{ event_id }}&action=edit_mode>se her</a>.</td>
            {% else %}
              </td>
              <td></td>
            {% endif %}
          {% else %}
            <td id=orange>Delvis</td>
            <td></td>
            <td>{{ task_status.bib_missing}} deltakere mangler startnummer. </td>
          {% endif %}
        {% endif %}
      </tr>
      <tr>
        <td>5b. Deltakere: Seeding</td>
        <td>
          <a href="https://youtube.com/clip/UgkxF86V9g_jzUq0gPITsUp5g0PHYI3TPZuw?si=Ww15wJtVewTN5GGF" target="_blank">
            <img src="../static/video.png" title="Video - Seeding" width="20" height="20">
          </a>
        </td>
        {% if (task_status.done_8) %}
          <td id=green>Utført</td>
          <td colspan="2"></td>
        {% else %}
          <td></td>
          <td>
            <form action=/seeding method=get>
              <input type="hidden" name=event_id value="{{ event_id }}">
              <input type="hidden" name=action value="seeding_points">
              <input type="submit" value="  Utfør seeding  " class="btn btn-default">
            </form>
          </td>
          <td></td>
        {% endif %}
        </tr>
    <tr>
      <td>6a. Startliste: Opprett (<a id="mySeeStart" onclick="result_gui_href('mySeeStart', 'start_edit?event_id={{ event_id }}')" href=>se/endre</a>)</td>
      <td>
        <a href="https://youtube.com/clip/UgkxfTfwJfSwx_W94esb9QYyYEckhOOwuIYe?si=bRslED4IhRfTFYAQ" target="_blank">
          <img src="../static/video.png" title="Video - Startlister" width="20" height="20">
        </a>
      </td>
    {% if (task_status.done_8) %}
        <td id=green>Utført</td>
        <td>
          <ul>
            <li class=dropdown>
              <a target="_new" onclick="result_gui_href('myPStart', 'print_lists?event_id={{ event_id }}&action=start')" id="myPStart" class=dropbtn href=>Skriv ut startlister</a>
            </li>
          </ul>
        </td>
        <td> {{ task_status.no_of_starts }} starter er opprettet.</td>
      {% else %}
        <td id=red>Mangler</td>
        <td>
          {% if (task_status.done_6) %}
            <form action=/tasks method=post>
              <input type="hidden" name="event_id" value="{{ event_id }}">
              <input type="submit" id="generate_startlist" name="generate_startlist" value="  Generer startliste  " onclick=save_message(this.id); class="btn btn-success">
            </form>
          {% endif %}
        </td>
        <td></td>
      {% endif %}
    </tr>
    {% if event.competition_format == "Individual Sprint" %}
    <tr>
      <td>6b. Videre oppsett: Opprett (<a id="mySeeControl" onclick="event_gui_href('mySeeControl', 'control?event_id={{ event_id }}&action=Template')" href=>se/endre</a>)</td>
      <td>
        <a href="https://youtube.com/clip/Ugkxb2i2Sa0nlIV93EMptOp1SZFJ4iavrc2X?si=zB5qsV6GVD5rYrXD" target="_blank">
          <img src="../static/video.png" title="Video - Videre oppsett" width="20" height="20">
        </a>
      </td>
    {% if (task_status.done_9) %}
        <td id=green>Utført</td>
        <td>
        </td>
        <td>
          {{ task_status.no_of_next_race }} <i>videre til</i> semi og finaler er opprettet.
        </td>
      {% else %}
        <td id=red>Mangler</td>
        <td>
          {% if (task_status.done_6) %}
            <form action=/tasks method=post>
              <input type="hidden" name="event_id" value="{{ event_id }}">
              <input type="submit" id="generate_next_race" name="generate_next_race" value="  Generer videre til oppsett  " onclick=save_message(this.id); class="btn btn-success">
            </form>
          {% endif %}
        </td>
        <td></td>
      {% endif %}
    </tr>
    {% endif %}
    <tr>
      <td>Eksporter data</td>
      <td>
        <a href="https://youtube.com/clip/Ugkxur0WbXlews2KE7ItDdHbPOvEU_vxOQFh?si=PAzvCGYCvAHJk5Bv" target="_blank">
          <img src="../static/video.png" title="Video - Eksporter data" width="20" height="20">
        </a>
      </td>
    <td></td>
      <td>
        <ul>
          <li class=dropdown>
            <a href=javascript:void(0) class=dropbtn>CSV filer</a>
            <div class=dropdown-content>
              <a target=_blank href=/csv?event_id={{ event_id }}&action=contestants>Deltakere</a>
              <a target=_blank href=/csv?event_id={{ event_id }}&action=raceplan>Kjøreplan</a>
              <a target=_blank href=/csv?event_id={{ event_id }}&action=startlist>Startlister</a>
            </div>
          </li>
        </ul>
      </td>
      <td>Mulighet til å eksportere lister på csv format.</td>
    </tr>
    <tr><td colspan="5"><br><br><br><br></td></tr>
    <tr id="danger-zone">
      <td>Opprydding</td>
      <td></td>
      <td><b>Danger-zone</b></td>
      <td>
        {% if (task_status.done_2) %}
        <div id=minispacer></div>
        <form action=/tasks method=post onsubmit="return confirm_delete('OBS: Alle deltakere blir slettet!');">
          <input type="hidden" name="event_id" value="{{ event_id }}">
          <input type="submit" id="delete_all_cont" name=delete_all_cont value="  Slett alle deltakere  " onclick=save_message(this.id); class="btn btn-warning">
        </form>
        {% else %}
        <div id=minispacer></div>
        <form action=/events method=post>
          <input type="hidden" name="event_id" value="{{ event.id }}">
          <input type="submit" name=delete value="  Slett  ">
        </form>
        {% endif %}
        {% if (task_status.done_3) %}
        <div id=minispacer></div>
        <form action=/tasks method=post onsubmit="return confirm_delete('OBS: Dette vil slette alle løpsklasser.');">
          <input type="hidden" name="event_id" value="{{ event_id }}">
          <input type="submit" id="delete_all_raceclasses" name="delete_all_raceclasses" value="  Slett alle klasser  " onclick=save_message(this.id); class="btn btn-warning">
        </form>
        {% endif %}
        {% if (task_status.done_6) %}
          <div id=minispacer></div>
          <form action=/tasks method=post onsubmit="return confirm_delete('OBS: Dette vil slette alle kjøreplaner.');">
            <input type="hidden" name="event_id" value="{{ event_id }}">
            <input type="submit" id="delete_all_raceplans" name="delete_all_raceplans" value="  Slett alle kjøreplaner  " onclick=save_message(this.id); class="btn btn-warning">
          </form>
        {% endif %}
        {% if task_status.done_8 %}
          <div id=minispacer></div>
          <form action=/tasks method=post onsubmit="return confirm_delete('OBS: Dette vil slette alle startlister.');">
            <input type="hidden" name="event_id" value="{{ event_id }}">
            <input type="submit" id="delete_start_lists" name="delete_start_lists" value="  Slett alle startlister  " onclick=save_message(this.id); class="btn btn-warning">
          </form>
          {% endif %}
          {% if (task_status.done_9) %}
          <div id=minispacer></div>
          <form action=/tasks method=post onsubmit="return confirm_delete('OBS: Dette vil slette alle passeringer.');">
            <input type="hidden" name="event_id" value="{{ event_id }}">
            <input type="submit" id="delete_time_events" name="delete_time_events" value="  Slett alle passeringer  " onclick=save_message(this.id); class="btn btn-warning">
          </form>
          {% endif %}
      </td>
      <td>Mulighet til å slette all registrert informasjon på arrangementet.</td>
    </tr>
    </table>
  </div>
</div>

{% endblock %}