{% extends "open_base_new.html" %}

{% block titleheader %}
  {{ lopsinfo }}
{% endblock %}
{% block refresh %}{% endblock %}
{% block titlemain %} <img id=menu_icon src="../static/icon_user.png"> {{ lopsinfo }}{% endblock %}
{% block headercontainer %}{{ lopsinfo }} <img id=header_icon src="../static/icon_user.png"> {% endblock %}
{% block menuitems %}
  <li id=topborder>
    <a href=/users?event_id={{ event_id }}&new=true class=dropbtn>Ny bruker</a>
  </li>
{% endblock %}
{% block content %}
      {% if create_new %}
        <form action="/users" method="post">
          <section class="row" aria-label="Ny_bruker">
            <div class="col-sm-12">
              <h2>Ny bruker</h2>
              <hr>
                <label for="newrole">Rolle</label>
                <select name="newrole" class="form-control" id="newrole">
                    <option value="admin">Admin (alle rettigheter)</option>
                    <option value="event-admin">Event (sette opp arrangement)</option>
                    <option value="race-office">Rennkontor (registrere deltakere)</option>
                    <option value="race-result">Tidtaker (registrere resultater)</option>
                </select>
                <br>
                <label for="newusername">Brukernavn</label>
                <input type=text class="form-control" name="newusername" id="newusername" value="">
                <br>
                <label for="newpassword">Passord</label>
                <input type=password name="newpassword" class="form-control" id="newpassword" value="">
                <br>
                <input type="submit" name=create value="  Opprett  " class="btn btn-default">
                <hr>
            </div>
          </section>
        </form>
      {% else %}
          <section class="row" aria-label="Brukere">
            <div class="col-sm-12">
              <h2>Brukere</h2>
              <hr>
          <table class="table table-striped">
            <tr>
              <th>Rolle</th>
              <th>Brukernavn</th>
              <td></td>
            </tr>
            {% for user in users %}
              <tr>
                <td>{{ user.role }}</td>
                <td>{{ user.username }}</td>
                <td>
                  <form action=/users method=post>
                    <input type="hidden" name="id" value="{{ user.id }}">
                    <input type="submit" name=delete value="Slett" class="btn btn-default">
                  </form>
                </td>
              </tr>
            {% endfor %}
            <tr id=spacer></tr>
          </table>
      {% endif %}
{% endblock %}
